[2021-05-23 08:34] rogeralsing commented on #990
cc @mhelleborg

[2021-05-23 08:37] chenxyzl opened #991 "cluster RequestAsync failed after cluster accidentally close"
`##` Expected Behavior

## Actual Behavior
![1621758810(1)](https://user-images.githubusercontent.com/11977514/119253742-31a90f00-bbe5-11eb-8ade-68c054f1c66b.jpg)

I'm writing a game server using actor.proto, thanks for your help

## Steps to Reproduce the Problem

  1. run cluster and close cluster
  2. close cluster by stop debug  multi times or use issure #990
  3. run cluster again, now Reques

[2021-05-23 09:55] mhelleborg commented on #990
@chenxyzl Could you provide a minimum reproducing program? This functionality is well tested in the ProtoActor test suite, and should work fine. What you have provided is not enough information to determine what might be wrong.

[2021-05-23 13:13] chenxyzl commented on #990
https://github.com/chenxyzl/IW
the code is here
run consul 127.0.0.1:8500 and redis password Qwert123!
then run debug

[2021-05-23 18:57] rogeralsing commented on #990
What version of Redis are you using?
And is it locally installed, or running in Docker?

Just so we know the details here

[2021-05-24 05:57] chenxyzl commented on #990
redis: 3.2.0 on windows
running locally

[2021-05-24 08:40] mhelleborg commented on #990
@chenxyzl Please test with a newer version of Redis, minimum version 5. Older versions are not tested or supported.

[2021-05-25 03:39] chenxyzl commented on #990
redis 5.0 is ok. thanks

[2021-05-25 03:39] #990 closed, assigned to nobody

[2021-05-26 04:43] rogeralsing commented on #991
RequestAsync can be retried. in case there are PIDs from the previous run still in the RedisLookup.
Those will be deleted as soon as the cluster detects that the old node is no longer there.

[2021-05-26 09:20] rogeralsing opened #998 "Improve Grain code-generation"
I have a new and improved template for the proto grain generation
https://gist.github.com/rogeralsing/6abb9009ba9333c66a1aeff43b41d676

This template allows us to use proper DI together with the code-generated grains.

[2021-05-26 19:35] mhelleborg opened #1000 "Rewrite PidCacheInvalidation on new abstractions"
After adding IContextStore and ClusterKind, it is possible to rewrite PidCacheInvalidation in a more performant and less error prone way. The first version used context decorators, requiring instantiating new contexts for every actor. By leveraging context stores, it can be replaced with stateless receiver middleware.

In addition, the original implementation was on Props, allowing it to be used o

[2021-05-27 07:08] rogeralsing opened #1002 "Make PubSub streamable to gRPC by default"
The PubSub abstraction could allow us to expose an gRPC streaming endpoint which sets up a subscription to the TopicActor for a given topic.

e.g.
client connects to grpc endpoint, pass along that it wants to subscribe to topic "abc".
an actual PubSub-subscription is setup for a temp actor to topic "abc"

the temp actor now publishes everything onto a result gRPC stream.

This way, we can very eas

[2021-05-29 11:15] rogeralsing commented on #1002
https://protoactor.discourse.group/t/experimental-proto-cluster-pubsub/15

[2021-05-29 11:16] #998 closed, assigned to nobody

[2021-06-01 16:24] #1000 closed, assigned to mhelleborg

[2021-06-02 10:37] rogeralsing opened #1017 "Cluster - KubernetesProvider"
Potential bug in KubernetesProvider.
We have observed pods not getting new topology from the KubernetesProvider.

This could potentially be any of the following issues:

* Outdated Kubernetes client, the issue was seen in 0.17.0
* Bug in KubernetesProvider, e.g. the watch for some reason hangs
* Some form of deadlock in MemberList when processing topology changes
* Other?

Actions.
* More logging

[2021-06-02 11:35] rogeralsing commented on #1017
Possibly related https://github.com/kubernetes-client/csharp/issues/533

[2021-06-02 15:01] rogeralsing commented on #1017
Potentially an issue in AKS itself:
https://github.com/Azure/AKS/issues/1755

Seems to have been fixed in later releases

[2021-06-03 15:43] rogeralsing commented on #1017
There could be multiple reasons for what we are seeing, keeping this open until we have verified of the issue goes away with the new patch

[2021-06-04 05:30] sudsy commented on #819
I finally got around to looking at this again.

For some reason there seems to be some connectivity issues when using the Kubernetes provider. See the log below:

[usersettings-log.txt](https://github.com/AsynkronIT/protoactor-dotnet/files/6595920/usersettings-log.txt)

Early on in the process there is an EndpointTerminated event.

If I switch back to the consul provider this problem disappears. I

[2021-06-04 06:11] sudsy commented on #819
Just saw the latest release 0.18 which seems to have fixed the issue. Thanks!

[2021-06-04 06:13] rogeralsing commented on #819
👍🏻  great! please let us know how this plays out

[2021-06-04 13:43] rogeralsing opened #1019 "Proto.Actor in the browser"
Apparently, the C# to WASM compiler is competent enough to compile Proto.Actor to wasm and it works.

https://twitter.com/RogerAlsing/status/1400798333795450885

Maybe this is just a gimmick, maybe it can be turned into something useful.
Adding this issue here to share the information.

Theoretically, it would be possible to create a Proto.Remote version that talks to a real Proto.Remote/Cluster n

[2021-06-06 07:44] rogeralsing opened #1020 "Relax Cluster Heartbeats"
Currently, the cluster hear-beat will run in an N*N fashion. every node will ping every other node every X seconds.

This is not an issue in most normal cases. e.g. a 100 node cluster would still only by 100*100 / 5 (default heartbeat) -> 2000 requests per second in the cluster, which is not a problem.

But if we are looking at scaling to larger workloads, say 1000 nodes, things get busier.
Instea

[2021-06-07 02:08] sudsy commented on #446
Just upgrading one of my projects and found that the Proto.Actor proto file is no longer distributed with the latest nuget packages.

I have PID inside some of my messages so I need a reference to the proto file.

I am wondering since no-one has noticed it is missing whether anyone else includes actor.PID in their messages and if so how do they do it?

[2021-06-07 18:18] mhelleborg opened #1024 "New API allowing message headers to be sent and consumed more easily from application code"
Use cases for headers from application level code is not very well supported with the current request abstractions.

This could be improved upon. Let's use this issue to discuss possible ways to support it.

[2021-06-10 15:35] rogeralsing commented on #1024
Partially solved, we need to make this possible to use for ClusterContext also.

[2021-06-11 03:05] rogeralsing commented on #1020
Replaced with cluster gossip

[2021-06-11 03:05] #1020 closed, assigned to nobody

[2021-06-11 03:18] rogeralsing opened #1027 "Sync banned members via gossip"
Now that gossip is in place, we can start syncing data between nodes.
One such state that should be shared is the banned members list.

If a node detects that a member left, it should update its cluster state, allowing this data to propagate between nodes.
Each node can then merge the state from each node to get a full view of the world

[2021-06-12 07:25] kaep7n opened #1030 "Dependency Injection: Internal Null Reference Exception when Spawning unregistered actor"
Hi,

first of all great work! I playing around with your framework for home automation 🥇

Yesterday I stumbled over a little bug.

## Expected Behavior

When using Dependency Injection and an Actor that should be spawned is not registered in the `ServiceProvider,` some kind of error should be thrown. Otherwise it is hard to see what the problem is.

## Actual Behavior

[code]
does nothing, because

[2021-06-14 17:19] rogeralsing commented on #839
After discussions with @alexeyzimarev.

One good way forward would be to allow to pass in strategies/configs to the Snapshot provider itself.
E.g. stating how many snapshots you want to keep or if you want to use TTL for snapshots etc.

[2021-06-15 04:02] sudsy opened #1041 "Cluster spawn swallows errors without logging"
I recently upgraded one of my projects to 0.18.0 and was receiving spawn errors without a reason. In my case it seems that the error was caused because I specified a GuardianSupervisor strategy for the cluster props which is no longer supported.

Anyway, rather than seeing the error in the log, it just failed with a can't spawn error.

It's a shame that I can no longer specify a guardian superviso

[2021-06-15 18:24] jstnlef commented on #839
Hey there. I was wondering how long it would take to possibly get a fix on this. I was the one who brought this up initially and am looking to get my first proto.actor based service out to our customers ASAP. I mostly ask in order to make the decision to either wait for this fix or to work around the bug. Thanks!

[2021-06-15 19:12] rogeralsing commented on #839
PR closed the issue, reopened it again as there are more things to do still.

**At least the Index issue is fixed and available in version 0.18.1-alpha.0.30.**

[2021-06-16 05:03] rogeralsing commented on #1041
I'm not following, what change are we talking about here?

[2021-06-16 05:16] sudsy commented on #1041
In a much earlier version of ProtoActor you could specify a guardian strategy for Cluster kinds, but when I upgraded to 0.18.0 the cluster kinds with the guardian strategy couldn't be spawned and the error was swallowed by the PartitionPlacementActor.

[2021-06-16 05:53] rogeralsing commented on #1041
The lack of logging should absolutely be addressed. on it here.

But I'm not quite sure in what way this was possible before as the PartitionPlacementActor has not been changed recently.
So any hints on what snippet of code worked before that don't work now would be much appreciated

[2021-06-16 06:27] sudsy commented on #1041
You would have to go a long way back to find where it was possible to spawn a cluster actor with a Guardian Strategy.

See: https://github.com/AsynkronIT/protoactor-dotnet/blob/33a0e2784514b110793f626d11a7a76db895f0c2/src/Proto.Cluster/Partition.cs#L45

It previously spawned actors from the root context so a Guardian Strategy was possible.

Now it spawns cluster kinds as a child of PartitionPlacem

[2021-06-20 12:52] rogeralsing opened #1046 "Test and Document max size payload over Proto.Remote"
We can see that in Cluster Benchmark, when running 30+ nodes with heavy request rate. it happens that we get :
[code]
From the RemoteDeliver method.

We need to check where these bounds are defined in gRPC, what can be tweaked.
And how we should deal with this over all.
Eg. for remote deliver it is likely easy, just split the envelope to not contain as many messages. e.g. split in two until it doe

[2021-06-20 15:16] rogeralsing opened #1047 "Multi threaded writes on Gossip state"
Fix in https://github.com/AsynkronIT/protoactor-dotnet/pull/1045

Turned out the gossip payload werent cloned before sending off to remote layer

[2021-06-20 16:38] rogeralsing commented on #1047
Done

[2021-06-20 16:38] #1047 closed, assigned to nobody

[2021-06-20 16:42] rogeralsing opened #1048 "Improve startup behavior of Consul provider"
Consul seems to be somewhat flaky when registering many services at the same time.
It can happen that one node sees another node's health check as failing initially.
And then marks that node as failed.

it's probably possible to add a label once all the infrastructure is up and running. as a form of two-phase commit.

[2021-06-21 06:38] rogeralsing opened #1052 "Kubernetes Provider somtimes crash at start up"
Unclear if this is K8S just refusing because it is unable to register more pods. or something else

[code]

Relevant bits:
[code]

[2021-06-21 16:14] rogeralsing commented on #1052
Added retries and exponential backoff to the registration.
Will keep an eye on this to see how it works out

[2021-06-21 16:15] rogeralsing opened #1055 "Purge expired gossip state"
Banned members state is kept inside the gossip state indefinitely. this should be purged once we detect new banned members

[2021-06-21 16:51] rogeralsing commented on #1046
gRPC Setting, defaults to 4MB for incoming messages, no limit on outgoing messages.

https://docs.microsoft.com/en-us/aspnet/core/grpc/security?view=aspnetcore-5.0

[2021-06-21 18:57] rogeralsing commented on #1055
https://github.com/AsynkronIT/protoactor-dotnet/pull/1057

[2021-06-21 21:30] rogeralsing commented on #1055
Done

[2021-06-21 21:30] #1055 closed, assigned to nobody

[2021-06-22 04:50] rogeralsing commented on #1052
I'm thinking this is likely a result of an overloaded cluster.
I have only seen this when spawning so many nodes that K8s becomes unresponsive

[2021-06-22 05:54] rogeralsing opened #1058 "Gossip sometimes piles up"
During topology changes, there can be some time passing before gossip starts to arrive again.
Eventually, it does get back, but there can be many seconds of silence.

[2021-06-24 08:33] rogeralsing commented on #1052
Closing this, have not seen any such issues since retries were introduced.
Can reopen if it reappears

[2021-06-24 08:33] #1052 closed, assigned to nobody

[2021-06-24 08:37] rogeralsing commented on #1058
Easy way to reproduce, start 3 members in Kubernetes.
Kill one of them.
There can be up to 2 minutes of silence before gossip reappears for the other two nodes.
Then it all arrives in bulk.

I have to try this using consul and see if there is anything provider specific or remote deliver issue for gossip

[2021-06-24 09:24] rogeralsing commented on #1058
Not seeing this using the Consul provider locally.

The gossip is really completely independent of the provider, so this is a mystery why we are seeing it in kubernetes.
If there is some form of resource configs affecting anything or anything else that halt node to node communication for some time there

[2021-06-24 09:48] rogeralsing commented on #1058
[code]

Just before gossip comes back, the endpoint writer mailbox reports that it dropped some messages.
The dropping of messages is done when the EndpointWriter actor is fully stopped after restart attempts.

[2021-06-24 09:53] rogeralsing commented on #1058
This `10.1.5.141:8080` address, in this case, was a member that left.
The cluster already knows this as reported by the logs.

The question is why this somehow choaks the gossip for all members. and why only in Kubernetes environment?
And, why is the endpoint writer-actor not fully stopped instantly after retries, as in on Kubernetes environment?

[2021-06-24 11:08] rogeralsing commented on #1058
Not sure if related but
[code]

[2021-06-24 11:45] rogeralsing commented on #1058
Next discovery; GrpcNet freezes for ~2 min.  GrpcCore for ~10-15 seconds.
Same behavior, different times

[2021-06-24 13:27] rogeralsing commented on #1058
Solved in #1060

[2021-06-24 13:27] #1058 closed, assigned to nobody

[2021-06-25 19:12] rogeralsing commented on #1027
This one has been done #1033

[2021-06-25 19:12] #1027 closed, assigned to nobody

[2021-06-25 19:13] #839 closed, assigned to nobody

[2021-06-27 08:57] rogeralsing commented on #989
#1057

[2021-06-27 08:57] #989 closed, assigned to nobody

[2021-06-28 11:40] rogeralsing commented on #1017
Multiple fixes went into 0.20.0. repoen if issues shows up again

[2021-06-28 11:40] #1017 closed, assigned to nobody

[2021-06-28 17:29] rogeralsing opened #1071 "Amazon ECS Cluster Provider"
These endpoints seem to be relevant for such a provider:

https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ListServices.html
https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ListTagsForResource.html
https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_TagResource.html

[2021-06-28 19:57] rogeralsing commented on #1071
Seems like ECS service discovery can be the right approach, but I'm not sure if that forces DNS routing or if that part is somehow optional

[2021-07-01 19:34] rogeralsing commented on #1071
I believe something like this might work:

[code]

[2021-07-02 11:04] rogeralsing commented on #1071
This works

[code]

[2021-07-02 12:54] rogeralsing commented on #1071
JVM Akka ECS provider: https://medium.com/@ukayani/deploying-clustered-akka-applications-on-amazon-ecs-fbcca762a44c

[2021-07-02 14:00] rogeralsing commented on #1071
https://aws.amazon.com/blogs/compute/a-guide-to-locally-testing-containers-with-amazon-ecs-local-endpoints-and-docker-compose/

[2021-07-02 19:44] rogeralsing commented on #1071
https://stackoverflow.com/questions/57893404/is-it-possible-to-access-task-definition-from-inside-a-docker-container

Seems to be possible to query the TaskArn from there

[2021-07-04 20:19] rogeralsing commented on #1071
Tested and works.
An issue that could be improved is that getting membership is based on querying the ECS API for metadata.
This API is rate-limited.
Seems to be ~20 calls per second.
Users can easily just have a slower polling interval here for larger clusters. but still work mentioning here

Closing issue for now

[2021-07-04 20:19] #1071 closed, assigned to nobody

[2021-07-07 20:26] rogeralsing opened #1079 "Persistent Cluster PubSub"
Subscriptions for Cluster PubSub is already persistent.
But we don't have persistent messaging yet.
Currently the flow of pubsub is as follows:

Publisher -> Envelope -> Topic Actor -> Subscriber

By allowing to plug in a persistent provider, e.g. Kafka, we could have a flow like so:

Publisher -> Envelope -> Kafka Topic -> Topic Actor -> Subscriber

This would be completely seamless from a user p

[2021-07-08 00:56] seungyongshim commented on #1079
Want it~

[2021-07-08 06:34] rogeralsing commented on #1079
Some thoughts.

The default PubSub Ack's back when all subscribers have received the message.
We could make this configurable

* Ack when all subscribers have received the message
* Ack when Topic actor has received, but not yet sent to subscribers
* Ack when the message is placed on Kafka (or other)
* Ack directly, fire and forget, best effort

To architect this, we need to be able to configure b

[2021-07-09 00:50] seungyongshim commented on #1079
I think developers should be able to use Ack.

Kafka is a persistent queue of outbound processes.
Ack is very important to restart when the actor system crashes.

[2021-07-13 20:59] mhelleborg opened #1092 "Allow for generation of void / parameterless grain methods"
Even grain methods with no real return values or parameters currently needs to pass a surrogate value to and from the methods. This is part of the proto service rpc spec they are generated from.

In order to make the grains themselves nicer to work with, these can be omitted from the generated classes, and just present normal void / parameterless methods.

Google.Protobuf.WellKnownTypes.Empty can

[2021-07-14 08:55] rogeralsing opened #1094 "Document deadlock when using await inside actors"
https://twitter.com/andreabalducci/status/1415226443198513153

This is a classic case of an actor passing a message to itself, and then awaiting on this task.
This will deadlock as the request is now stuck in the mailbox while the mailbox is awaiting the task to complete.

The same thing can happen in cyclic graphs of actors, so this is not unique to self messaging.

There is no generic rule that

[2021-07-14 09:24] rogeralsing commented on #1094
To add some context.
Actor is awaiting.
The message that will complete the task is stuck in the mailbox as the actor is awaiting

<img width="657" alt="Skärmavbild 2021-07-14 kl  11 23 42" src="https://user-images.githubusercontent.com/647031/125598095-86626f51-3a2c-46c6-8425-bc2222a9cecf.png">

[2021-07-14 09:39] rogeralsing commented on #1094
cc @andreabalducci

[2021-07-14 10:00] andreabalducci commented on #1094
was unsure. first checked on issues, then forked the doc, then checked again the sources.
At first my suggestion was for throwing an exception if context was used to RequestAsync<> on self, but was unsure if context is "safe" to be used outside the actor message loop.

Agree for a better doc, is up to the dev.

[2021-07-14 12:13] andreabalducci commented on #1094
Usually in my code **every** RequestAsync has a timeout / cancellation token, I've checked the sources and PoisonAsync doesn't use a CancellationToken.
Tried  `await context.RequestAsync<Terminated>
                (
                    context.Self,
                    PoisonPill.Instance,
                    CancellationTokens.WithTimeout(200)
                );`
and timeout kicks in as expected

[2021-07-15 20:14] #1092 closed, assigned to mhelleborg

[2021-07-19 19:25] rogeralsing opened #1104 "Investigate F# protobuf generation"
https://github.com/Arshia001/FSharp.GrpcCodeGenerator/issues/9

This repo offers an F# protoc generator.
It seems to be fairly complete so it might be worth looking into real F# support for proto.actor

[2021-07-22 10:21] rogeralsing commented on #1104
Closing, the above is not meant to be compatible with C# generated code.

[2021-07-22 10:21] #1104 closed, assigned to nobody

[2021-07-30 09:25] aaronjamesford opened #1107 "Kubernetes provider throws ArgumentNullException when running with sidecar containers in pod"
![image](https://user-images.githubusercontent.com/994315/127629615-19fdea0a-2a15-40a8-ad62-beb5f38d8268.png)

This code does not take into account there being more than one container in a pod - nor any of those containers not having port definitions. However this method is only used in `KuberentesProvider::RegisterMemberInner` to log a warning if null:

![image](https://user-images.githubusercont

[2021-07-30 09:58] aaronjamesford commented on #1107
Although it should be unnecessary, we have been able to work around this issue for now by declaring ports on all of our sidecars

[2021-07-30 10:18] #1107 closed, assigned to nobody

[2021-08-05 13:36] rogeralsing opened #1114 "Cluster Singleton improvements"
It's easy to have a cluster singleton, you simply use a fixed single identity for your singleton and whenever someone passes messages to that identity, it will come alive.
The standard virtual actor machinery.

But. what if you don't send a message to it? if you want to guarantee it exists, because it needs to do work on its own.

We could introduce the concept of singletons in the cluster config.

[2021-08-05 13:39] rogeralsing commented on #1114
We could probably abstract this in such a way that one could Track and Untrack identities this way, via code.

e.g. a manager actor calls Track for each identity of multiple workflows.
Now the cluster will know that those workflow actors must exist, if not, trigger them to exist

[2021-08-08 09:00] rogeralsing commented on #1114
We need some way for these singleton actors to be registered into the gossip state somehow.
Either they do it themselves upon start / stop.
Or, the activator actor for the different providers do this.

This is needed so that the singleton monitor that watches the gossip state can see if the actor exists or not.

What would be the best approach here?
cc @mhelleborg

[2021-08-08 09:04] rogeralsing commented on #1114
Maybe just publish Started and Stopped events on the eventstream from the activator.
then the monitor can subscribe there and check if the actor is part of the known singletons

[2021-08-24 10:35] rogeralsing opened #1140 "Cluster CodeGen - better exceptions"
[code]

OnError("Invalid client contract");

Let's add type name there

[2021-08-24 10:42] rogeralsing opened #1141 "Remote - discard null in EndpointWriter"
I've seen some cases where someone incorrectly tries to send a null message over Remote.
This should be warning logged and discarded.

[2021-08-24 10:43] rogeralsing opened #1142 "Cluster - Spawn timeout settings in ClusterConfig"
There are a lot of hardcoded 5 second timeouts in the `IdentityWorkerActor`
These timeouts should be translated into settings in the `ClusterConfig` instead

[2021-08-24 20:16] #1141 closed, assigned to nobody

[2021-08-24 20:16] #1140 closed, assigned to mhelleborg

[2021-08-25 12:45] #1046 closed, assigned to nobody

[2021-08-25 12:52] #1019 closed, assigned to nobody

[2021-08-27 07:20] artemiusgreat opened #1148 "Duplicate message types after explicit call of Cluster.WithProtoMessages"
## Expected Behavior
To start cluster.

## Actual Behavior
Extension method `WithProtoMessages` is being called with parameters (messages) that were already added to `TypeLookup` variable.

[code]

If I try to comment the call of `WithProtoMessages`, I get another error.

[code]

## Steps to Reproduce the Problem

  1. Visual Studio 2022 version 17 Preview 3
  2. Start consul in docker `docker run

[2021-08-27 07:24] artemiusgreat commented on #1148
Is it intentional that `TypeLookup` is being initialized using `Add` method instead of assigning values to keys directly?
https://github.com/AsynkronIT/protoactor-dotnet/blob/dev/src/Proto.Remote/Serialization/Serialization.cs#L83

Why
[code]
Instead of
[code]

[2021-08-27 07:36] rogeralsing commented on #1148
I'm probably missing context here. but what is the reason for adding the same message definition multiple times here?
Is the issue that you want a better error message, or is there something else you are trying to do here?

[2021-08-27 08:30] artemiusgreat commented on #1148
This is not my sample, so I'm not sure why message definition was added multiple times, I'm just running an example from this repo :)
Meanwhile, the exception happens because message definition is added at least twice, this is a part of the question.

I see that method `Serialization.RegisterFileDescriptor` is being executed twice, one time in the Serialization constructor, second time in the `Wit

[2021-08-27 08:37] artemiusgreat commented on #1148
Actually, I just checked another sample and it seems to work fine.
https://github.com/AsynkronIT/protoactor-dotnet/tree/dev/examples/ClusterPubSub
Maybe because PubSubCluster sample defines messages only in the current namespace.
[code]
Menwhile, EventStreamCluster seems to try to get all messages it can find.
[code]

[2021-08-27 10:00] artemiusgreat commented on #1148
I think, the method call to `WithProtoMessages` is not needed in the EventStreamCluster example because this sample doesn't have `*.proto` files. The only message type it has is defined in C#.

For some reason cluster can't deserialize message types defined in C#. If I define [proto message](https://github.com/AsynkronIT/protoactor-dotnet/blob/dev/examples/ClusterPubSub/protos.proto) as C# class.

[2021-08-28 09:29] #1142 closed, assigned to nobody

[2021-08-28 14:23] artemiusgreat commented on #1148
This line is failing.
https://github.com/AsynkronIT/protoactor-dotnet/blob/dev/src/Proto.Remote/Endpoints/EndpointReader.cs#L130

![image](https://user-images.githubusercontent.com/5140879/131221115-2b4cf8ba-5291-44c7-8e28-171f05b3d1c3.png)

Then, this one.
https://github.com/AsynkronIT/protoactor-dotnet/blob/dev/src/Proto.Remote/Serialization/ProtobufSerializer.cs#L26

![image](https://user-image

[2021-08-28 16:46] rogeralsing commented on #1148
@artemiusgreat sorry for the delayed answer.
I'm updating this example right now, it looks like this one was never fully completed for some reason.

Will link it once merged

[2021-08-28 17:18] rogeralsing commented on #1148
Updated example here
https://github.com/AsynkronIT/protoactor-dotnet/tree/dev/examples/EventStreamTopicsCluster

Also released 0.22.0 to allow cluster members to await seeing themselves during StartMemberAsync to make broadcasting behave correctly.

[2021-08-28 17:18] #1148 closed, assigned to nobody

[2021-08-28 17:18] #948 closed, assigned to nobody

[2021-08-28 20:59] artemiusgreat commented on #1148
@rogeralsing Why was this closed? The issue here is not replacing C# POCO class with `proto` messages. The real issue is that `Proto.Remote` and `Proto.Cluster` don't expose any method to register messages defined in C# in the serializer.

In other words, how to make cluster work without `messages.proto` files?

[2021-08-29 07:56] rogeralsing commented on #1148
This issue is a mix of a bit of everything. the original question regarding duplicate keys is resolved.

1. Duplicate message types after explicit call of Cluster.WithProtoMessages

This was caused by the example incorrectly registering the standard Proto.Actor protobuf definitions.
Causing the duplicate key issue

2. don't expose any method to register messages defined in C# in the serializer.

T

[2021-08-31 16:58] artemiusgreat opened #1151 "Grain sample seems broken again"
## Expected Behavior

To be able to run this sample or any similar sample with a virtual actor (grain) in a cluster.
https://github.com/AsynkronIT/protoactor-dotnet/tree/dev/examples/ClusterGrainHelloWorld

## Actual Behavior

1. Missing classes and namespaces - Grains, HelloGrainBase
2. Reference to deprecated `ProtoGrainGenerator`

## Steps to Reproduce the Problem

https://github.com/AsynkronIT

[2021-09-02 17:49] #1151 closed, assigned to mhelleborg

[2021-09-03 19:38] rogeralsing opened #1168 "Cluster - RegisterServices - retry forever / throw exception on failure"
Due to the AWS outage the other day. there was a case where an ECS node tried to start, the RegisterService retried but failed. so the member was never registered as a member. even though the app itself started and worked fine.
Resulting in a sort of zombie cluster member.

We could make it so that nothing progresses until RegisterService has completed.
And we should do this for all cluster provid

[2021-09-05 14:23] rogeralsing opened #1170 "Add package metrics and health to readme.md"
I just saw this lib https://github.com/BEagle1984/silverback
They have some nice quality and download badges in their readme.
We should add the same things for our readme here.

[2021-09-06 00:58] SeanKilleen commented on #1170
Adding some details in case they're helpful.

* The quality metrics in the README are surfaced from sonarcloud.io. Would need to import the repo(s) and set it up which requires permissions.
* Shields.io provides some of the other badges: https://shields.io
* I believe GitHub actions has badges for any use of GitHub Actions etc.
* I'm not sure test coverage stats are available OOTB with GitHub acti

[2021-09-07 13:00] mhelleborg opened #1172 "Obsolete ClusterInit"
The initial design for cluster actor initialization called for receiver middleware which injected a special `ClusterInit` message including the actor identity and kind, as well as a reference to the cluster itself.

With the improvements of the plugin system and the highly performant context store, this is no longer necessary.

Instead of listening to ClusterInit, the actor can just use the `Start

[2021-09-07 18:11] #1172 closed, assigned to mhelleborg

[2021-09-15 18:28] jstnlef commented on #1168
Hey there. I was curious if you had a chance to look into this yet.

[2021-09-17 18:07] rogeralsing commented on #1168
Closing for now, if we need to extend this behavior, we can do this as a separate issue

[2021-09-17 18:07] #1168 closed, assigned to nobody

[2021-09-19 14:59] rogeralsing commented on #991
Closing due to inactivity

[2021-09-19 14:59] #991 closed, assigned to nobody

[2021-09-19 15:00] rogeralsing commented on #634
Done #1182

[2021-09-19 15:00] #634 closed, assigned to nobody

[2021-09-20 04:07] rogeralsing opened #1193 "Stabilize Cluster.Identity.MongoDB tests"
The Cluster.Identity.MongoDB tests sometimes fail during CI.
Likely due to the build servers being a bit weak, and running tests and an entire database server might be too much.

e.g. I've seen `StoreActivation` method fail due to timeout.
Maybe this is a case where retries would make sense, or simply longer timeouts.

[2021-09-20 08:37] rogeralsing commented on #1193
[code]

[2021-09-20 11:04] #1193 closed, assigned to nobody

[2021-09-20 12:22] suleymanyalcin opened #1205 "Cluster Example"
Hi friends.
can you post a working cluster example?

[2021-09-20 12:30] rogeralsing commented on #1205
Have you tried the hello world cluster example?
https://github.com/asynkron/protoactor-dotnet/tree/dev/examples/ClusterGrainHelloWorld

Are there some specific features you want to see?

There is also this more advanced example
https://github.com/asynkron/realtimemap

[2021-09-20 12:36] suleymanyalcin commented on #1205
Can we use it without google.proto?

[2021-09-20 12:40] rogeralsing commented on #1205
No, not for that example. we use Protobuf service definitions for typed actor generation.

It is possible to use cluster actors without it. and the same for messages.
But protobuf is the recommended way.

[2021-09-20 13:12] suleymanyalcin commented on #1205
.nuget\packages\proto.cluster.codegen\task\net5.0 dll not found error?   net5.0 project supported?

[2021-09-20 13:43] suleymanyalcin commented on #1205
Can you make a cluster example without google.proto ?
thanks.

[2021-09-20 21:00] #1205 closed, assigned to nobody

[2021-09-20 22:12] suleymanyalcin opened #1207 "Cluster LoadBalancer"
Hi friends.
How to implement load balancing between clusters?

[2021-09-21 20:19] #1207 closed, assigned to nobody

[2021-09-21 20:31] suleymanyalcin opened #1209 "help for deploy docker"
...

[2021-09-22 07:48] suleymanyalcin commented on #1209
In the bridge network, the actors cannot communicate, but in the host network they can.

[2021-09-23 13:38] rogeralsing opened #1211 "Fix AdditionalImportPaths in ClusterCodeGen"
As of https://github.com/asynkron/protoactor-dotnet/pull/1210

CodeGen task now works in Vs.NET. however, it introduces a bug for

[code]

[2021-09-24 09:21] redss commented on #1211
On it.

[2021-09-24 12:43] #1211 closed, assigned to nobody

[2021-09-25 06:59] rogeralsing opened #1214 "Obsolete async methods lacking cancellation tokens?"
We have some methods that use TimeSpan, or simply no setting at all for cancellation.
I think it would make sense to obsolete these in favor for mandatory cancellation tokens.

I cannot imagine any single case where e.g. a RequestAsync should not have an explicit timeout.
Forcing cancellation tokens also makes disposing of such token possible

[code]

[2021-09-27 03:39] gsw945 commented on #1214
I think cancellation token is necessary, but with a default timeout value maybe nice. I'm lazy to supply provide a cancellation token every time explicitly, but also wish it has timeout mechanism.

[2021-09-27 10:12] rogeralsing opened #1229 "Virtual Actor startup error message propagation"
When using virtual actors, e.g. typed grains, we can propagate error messages back to the client if something fails during the call.
But, we have no way to propagate errors during actor startup.
The activator actors will happily retry to start the failing actor and the error is pushed to logs only.

Maybe we could redesign this somehow.

[2021-10-05 01:22] boguan01 opened #1240 "Cluster autoscaling with least-used member placement strategy"
## Expected Behavior
Least-used placement strategy allows actors to be spawned on new / empty members.  When cluster auto-scales (e.g. through kubernetes horizontal pod autoscaler) and new members added to cluster, new actors need to spawn on new cluster members and not the members that are already full.

## Actual Behavior
Currently the actors are randomly sent to members.  Since the actual actor

[2021-10-05 06:42] mhelleborg commented on #1240
This is actually planned, I guess we should add it to the roadmap to make it explicit :)

[2021-10-05 06:48] mhelleborg commented on #1240
It does require each node to know about the current load for the other nodes, so there are some prerequisites which need to be implemented first though

[2021-10-07 16:27] boguan01 opened #1241 "ClusterKind with Props Factory to pass cluster identity and context to actor constructor"
## Expected Behavior
WithClusterKind should have another overload with props factory, like WithClusterKind(KIND, Func<context, clusterIdentity, Props>), to allow producing actors with context and cluster identity parameters in its constructor.

## Actual Behavior
Actor needs its identity for persistence and other functions.  Currently the approach I found from CodeGen template and samples seems to

[2021-10-08 22:43] boguan01 commented on #1209
without much detail, I can only guess that you are using BindToLocalHost, which bind to 127.0.0.1 and stops working when the nodes run in different containers in bridge mode.  If that's the case, change Remote to BindTo the container IP instead.

[2021-10-09 05:51] rogeralsing commented on #1241
This one is a bit tricky to do.
As you have discovered, the typed actors use a wrapper, and this wrapper is initialized on `Started` message.
Thus, the `Context` exists and can be passed in.

For constructor of actors, the context is not yet fully initialized, e.g. we cannot both have a context that points to the actor at the same time as the actor is being constructed in the constructor.

Probabl

[2021-10-11 03:48] sudsy opened #1242 "Cluster members can start without connecting to cluster"
## Expected Behavior
In version 0.18.0 if k8s cluster registration failed, the service would not start up and k8s would consider that as a failure restart the service and it would try again.

This is in line with my expected behaviour. I don't want the service to start up reporting that everything is working when it has failed to join the cluster. I want k8s to manage the restart of the service if

[2021-10-11 15:36] boguan01 commented on #1241
If not context, can we pass entityId / PID to the constructor?  Similar to the entityPropsFactory in Akka cluster sharding.

[2021-10-12 14:09] rogeralsing commented on #1241
I think we might be able to inject a smaller subset of IContext there.
That has access to the cluster identity etc.
cc @mhelleborg

[2021-10-16 08:46] rogeralsing opened #1250 "Identity Lookup strategies"
Some thoughts on alternative identity lookup strategies:

* Gossip-based identity lookup. All locations are gossipped across all nodes, how do we deal with activation control?

* Partition Identity lookup, as is, but how to deal with large workloads? paginated handovers?

* Partition Identity without the indirection. Owning the ID means owning the actor itself.

[2021-10-22 10:07] mhelleborg commented on #1250
I think the third alternative is very interesting. With our consistent hashing we will actually not reposition any actors if a node is removed. Identity rebalance can also happen completely locally, and the node itself can just remove any misplaced actors.

It is not a strategy which will work for every use case, and does not support local affinity etc, but for a certain set of applications this i

[2021-10-22 10:24] mhelleborg commented on #1250
Paginated handovers btw: https://github.com/asynkron/protoactor-dotnet/pull/1254

[2021-10-30 10:10] rogeralsing opened #1261 "Cold storage persistence"
Proto.Actor is often used in IoT scenarios, where storing telemetry and other data for a long time is a frequent requirement.
I think we should introduce a new concept to persistence, where we can move all events and snapshots after the latest snapshot, over to a cold storage. eg. s3 buckets

[2021-11-17 17:29] rogeralsing opened #1285 "Graceful cancellation of timers"
Using the built-in timers for scheduling, when we cancel the cancelationtokensource, there are errors shown in the log.
e.g. "a task was canceled"

We should catch this and make that silent, as canceling timers are normal operations.

[2021-11-17 18:21] rogeralsing opened #1286 "Make MessageEnvelope accessible from IContext"
We have a method `Receive` on IContext that takes a MessageEnvelope.
But we have no way of getting a MessageEnvelope from the IContext, unless you wrap it yourself using message, sender and headers.

[2021-11-17 18:41] rogeralsing opened #1287 "Freeze Context"
As per discussions with @mhelleborg some time back, it would be nice to have immutable context that could be used in a threadsafe way.

This needs some careful thought though, as some aspects cannot be frozen, e.g. actor status, actor incarnation, children etc.

Likely this has to be limited to e.g. only `ISenderContext` or similar

[2021-11-17 19:23] rogeralsing opened #1288 "Stash plugin"
Let's create a proper actor plugin for sashing multiple messages.

There is a stash built-in, which only allows users to stash the current message. on actor restart, those messages are replayed.
For any special use case where developers need an Akka style stash, we could easily provide this as a Context plugin.

[2021-11-21 23:36] sudsy commented on #1242
@rogeralsing I'd appreciate your thoughts on this when you get a chance!

[2021-11-24 21:59] DenizPiri opened #1301 "PIDCache causes forever increasing memory usage"
## Expected Behavior
When many objects that clean themselves are in use with Cluster, memory shouldn't forever grow.
PIDCache should self-maintain and clean itself.

## Actual Behavior
Memory usage forever grows. **PIDCache** grows forever. Each **PID** holds a **Process** reference, which causes **ActorProcess** and **RemoteProcess** instance count to grow.

## Steps to Reproduce the Problem

  1

[2021-11-25 12:25] DenizPiri commented on #1301
Currently, this pull request partially addresses the issue: https://github.com/asynkron/protoactor-dotnet/pull/1300

I believe, if the thoughts mentioned here would be implemented, it would be fully solved: https://github.com/asynkron/protoactor-dotnet/pull/1300#issuecomment-979163900

[2021-11-26 11:40] DenizPiri commented on #1301
https://github.com/asynkron/protoactor-dotnet/pull/1300#issuecomment-979901080 should fully resolve this issue right now. Once that is merged, this can be closed.

[2021-11-26 14:28] DenizPiri commented on #1301
#1300 is merged. Closing this one.
Once the new release is out, I will try it on production to verify that the RemoteProcess leak fix also works, if the issue persists, I will create a new issue or revive this one.

[2021-11-26 14:28] #1301 closed, assigned to nobody

[2021-12-09 21:53] rogeralsing opened #1310 "Cluster Identity activation filter"
An idea that have come up is to be able to filter what Identities are possible to activate.

Let's say you want to guarantee that some identity exists in a database before spawning.
We could have activation middleware that allow us to prevent spawning of invalid identities.

[2021-12-12 09:47] rogeralsing opened #1311 "FaaS"
Random ideas for FaaS

[code]

[2021-12-12 09:51] rogeralsing commented on #1311
Register function by name or by signature?

[2021-12-12 09:53] rogeralsing commented on #1311
[code]

[2021-12-12 13:55] rogeralsing opened #1312 "Auto boot actors on system startup"
An often requested feature is the ability to boot specific actors during system start.
e.g. say you want all your PlayerActors to boot up before getting any direct messages.

I'm thinking this ought to be super easy to set up.
e.g. plugin that just reads a list of actor names from a DB. then send a `Touch` message to each of them.
(just loop over a stream from the DB, we don't even need to read th

[2021-12-13 22:58] rogeralsing opened #1316 "Partition Identity Push Pull strategy"
Mind notes after discussion with @mhelleborg

a push-pull based strategy for partition identity could work as follows:

Activator actor sends placement information to owner node in batches. triggered by topology changes.
The activator computes the identity owner and starts batching information to it.
If there is a new topology change, the process starts over.
Once all activations have been sent. t

[2021-12-14 07:20] rogeralsing commented on #1316
This one might be more tricky than I thought.

say identity node is on topology v1 and activator node on topology v2

activator starts sending placements, identity receives them, but identity is on v1 and discards them.
then the placements are lost as the activator will not resend until a new topology.

[2022-01-09 15:06] juliolitwin opened #1339 "Problem with ProtoGenTask."
## Expected Behavior
When the protogen is to be generated, it is having a problem in the final path to save the generated file. He is repeating the project name for some reason.

Currently the path looks like this:
`'E:\Projects\ProjectName.IDK\Backend\Project.Actor\Project.Actor\obj\Debug\net6.0\protopotato\Actors-798978F876FA29E2CC0EE50BD029129F.cs'`

And it is expected that it will look like th

[2022-01-09 20:30] mhelleborg commented on #1339
Thanks @juliolitwin, I'll have a look. Should be quick to find since you found a repro :)

[2022-01-10 15:12] juliolitwin commented on #1339
Hey @mhelleborg thanks for the feedback!

I saw that you've already done a pull request fixing the bug, unfortunately it failed the test (warning) and it still wasn't possible to update in NuGet.

This problem has been fixed in the new branch, is there an estimate for you to give PR on this branch or is it still under development?

[2022-01-10 16:05] mhelleborg commented on #1339
@juliolitwin Merged and built an alpha. Should work now, but I would not take this version to prod yet.  ;-)

[2022-01-10 16:05] #1339 closed, assigned to mhelleborg

[2022-01-29 13:44] rogeralsing opened #1380 "Seed node cluster provider"
Thinking out loud here:

1. every seed node starts "seed actor"

2. every member/seed node starts a "cluster provider actor"

3. any member node sends a join request to one of the seed nodes "seed actor"

4. "seed actor" sends Join notification to all known members, to each nodes "cluster provider actor"

5. "cluster provider actor" calls member list, updating the local topology

6. all nodes are

[2022-01-29 14:05] mhelleborg commented on #1380
Mostly this seem like it should just work. Still some details missing perhaps, ex how does the members know where the seed node is?

Would this be just for relatively static deployments where you hardcode the seed address?

[2022-01-29 17:15] rogeralsing opened #1382 "Graceful shutdown of Cluster"
Graceful shutdown of cluster should:

1. Notify other members via gossip that the member is leaving.
2. Wait for Gossip to at least do one cycle to propagate.

My initial though was to make the member block itself, and propagate blocked members.
But maybe that has side effects. e.g. disconnecting the node. we need to check if we can just add the node to the blocked list in gossip

[2022-01-29 17:41] rogeralsing commented on #1382
I suppose we could have a separate key for IsLeaving, if that is found in the gossip state, we know the member can be flagged as blocked

[2022-01-30 19:02] rogeralsing commented on #1382
Done

[2022-01-30 19:02] #1382 closed, assigned to nobody

[2022-01-30 19:04] rogeralsing commented on #1380
There is now an extension on cluster `JoinSeed(("host", port), ("host", port))`
Where you can list a number of known seed nodes.

[2022-01-30 19:04] #1380 closed, assigned to nobody

[2022-01-30 19:05] rogeralsing commented on #1312
https://github.com/asynkron/protoactor-dotnet/blob/dd8e7983951037a95edbee8ca443e83cc885b1b9/src/Proto.Cluster/Singleton/SingletonManager.cs

[2022-01-30 19:05] #1316 closed, assigned to mhelleborg

[2022-01-30 19:06] rogeralsing commented on #1288
Done

[2022-01-30 19:06] #1288 closed, assigned to nobody

[2022-01-30 19:06] rogeralsing commented on #1286
Done

[2022-01-30 19:06] #1286 closed, assigned to nobody

[2022-01-30 19:07] rogeralsing commented on #1250
Done

[2022-01-30 19:07] #1250 closed, assigned to nobody

[2022-01-30 19:07] rogeralsing commented on #1240
We now have actor statistics in MemberHeartbeat, this should be possible to implement now

[2022-01-30 19:29] rogeralsing commented on #1114
I'm thinking we can have a middleware that handles lifecycle start and stop, e.g.
`Props.WithSingletonRegistration`
This will add and remove the entry from the gossip.

[2022-01-30 19:29] rogeralsing commented on #1312
Very much related to https://github.com/asynkron/protoactor-dotnet/issues/1114

[2022-01-30 19:30] #1214 closed, assigned to nobody

[2022-01-30 19:31] #1209 closed, assigned to nobody

[2022-01-30 19:32] rogeralsing commented on #444
Years later, we now have this. many thanks everyone involved, closing this

[2022-01-30 19:32] #444 closed, assigned to nobody

[2022-01-30 19:59] chaseaucoin opened #1398 "No way currently to clear blocked list"
## Expected Behavior
If a node has recovered or is addressable it should be able to be removed from the blocked list.

## Actual Behavior
When using a stateful service in Kubernetes and proto actor if I scale the system to 0 then add any arbitrary set of nodes it operates fine, but if a node is moved or if the service is updated during the period of the node becoming healthy the gossip channel wil

[2022-01-30 20:18] rogeralsing commented on #1398
Blocking is on a member ID level, the idea is that if a member for some reason leaves the cluster, this _specific_ member instance may not re-join.
This is much due to how virtual actors work. if some actors existed on this node before, and now exists elsewhere in the cluster as this member left. if it were to be allowed to rejoin, there would have to be coordination on which instance of this acto

[2022-01-30 20:35] chaseaucoin commented on #1398
Yes. When the existing pod is restarted the new instance with a new ID is not reaching gossip consensus and then gets banned. But if I scale to 0 and then up to any arbitrary amount (I have tested 1,2,5, and 10 nodes) then joining of new nodes works fine.

[2022-01-30 21:12] chaseaucoin commented on #1398
I'm doing some testing with a fairly pessimistic readiness probe to see how that alters the behavior.

[2022-01-31 05:42] chaseaucoin commented on #1398
So I was able to resolve why the gossip was happening out of band. I think that since the containers I'm using have 1 core the cluster task was blocking starting the web server so I moved the start logic to a hosted service which resolved this like so. I still wonder in practice though how should I receive a signal and restart nodes that have failed gossip so that I don't get a split brained clust

[2022-01-31 05:42] #1398 closed, assigned to nobody

[2022-01-31 19:05] rogeralsing commented on #1241
Solved using `context.Get<ClusterIdentity>()`

[2022-01-31 19:05] #1241 closed, assigned to nobody

[2022-01-31 19:50] mhelleborg commented on #1287
This is more or less solved with #1360, as message envelopes can now be captured and re-applied / received on demand.

[2022-01-31 19:50] #1287 closed, assigned to nobody

[2022-01-31 20:38] mhelleborg commented on #1024
Fixed for cluster requests in #1411

[2022-01-31 20:38] #1024 closed, assigned to nobody

[2022-02-02 08:54] rogeralsing opened #1412 "Missing proto registrations"
* JoinRequest is not registered at cluster start
* Built-in google types. e.g. Empty are not registered at cluster start

[2022-02-02 14:44] rogeralsing opened #1414 "Improve Kubernetes Provider errors"
Current error messages if service lacks access to the K8S API are bad.
We should help the user and point them to the k8s provider docs

[2022-02-02 15:35] rogeralsing commented on #1414
https://github.com/asynkron/protoactor-dotnet/blob/dev/src/Proto.Cluster.Kubernetes/KubernetesProvider.cs#L114-L125

Make exception handler log the dictionary to make things easier to debug

[2022-02-03 01:53] seungyongshim opened #1416 "Exception to start clustering K8s in v0.27.0"
## Expected Behavior
* Deploy and Clustering on K8s
   * when to rolling update.
   * when to helm install.

## Actual Behavior
* OK : 0.26.0
* Exception on starting : 0.27.0, 0.27.1-alpha.0.3

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version: 0.27.0
  - Platform: AWS EKS v1.19.15-eks-9c63c4
  - Subsystem: dotnet6

## StackTrace

## Logs
[code]

[2022-02-03 06:55] rogeralsing commented on #1416
I'm seeing the same issue in our cluster.
Looks like a change in the KubernetesClient nuget, sending bad json.

Will try to pinpoint this

[2022-02-03 07:37] rogeralsing commented on #1416
The error returned from Kubernetes:

[code]

The payload sent.
I believe a new, invalid entry have been included in the KubernetesClient 7.x release

[code]

[2022-02-03 07:40] rogeralsing commented on #1416
Verified now.
The KubernetesClient 6.x does not send the "operationType" entry

[2022-02-03 07:41] rogeralsing commented on #1416
Pushed a new Proto.Actor release (preview) with the downgraded KubernetesClient

[2022-02-03 11:33] codrutmarin opened #1425 "Proto.Cluster => 'Cluster' is a namespace but is used like a type"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1. Create a new class project .Net 6
  2. Update the `.csproj` file with the following `Package References`
[code]
  3. Use the following `.proto` file
[code]
4. Import into a console application build and run; results in this:
![image](https://user-images.githubusercontent.com/18661271/152335094-0d2237ca-c060-4dfb-ac25

[2022-02-03 11:36] pblachut commented on #1425
I think you miss

`<ProtoGrain Include="Grains.proto" />` grain build in your csproj.

You can check tutorial here for more details: https://proto.actor/docs/cluster/getting-started-net/

[2022-02-03 11:38] codrutmarin commented on #1425
I have both `<ProtoGrain` & `<Protobuf` included:
[code]

[2022-02-03 14:24] pblachut commented on #1425
Ok, now I spotted what is wrong :) Your proto namespace is:

`option csharp_namespace = "Proto.Clustered.Shared";`

so your classes are generated under Proto namespace and that is why it doesnt work. Try to change a first namespace part in proto file e.g. for `Protos.Clustered.Shared` and the issue should go away.

[2022-02-03 14:30] codrutmarin commented on #1425
Okay, that did it! Thank you!

[2022-02-04 09:44] #1425 closed, assigned to nobody

[2022-02-04 10:20] rogeralsing commented on #1425
@pblachut @mhelleborg this hints that it might be a good idea for us to use fully qualified typenames in the generated code:

global::Proto.xxxx

[2022-02-04 10:55] pblachut opened #1429 ":raised_hands: Community feedback needed :raised_hands: Roadmap planning"
Last updated: 2026-01-16

## Current Focus
- `null` messages are skipped. So are `None` and `unit` in F# (https://github.com/asynkron/protoactor-dotnet/issues/2414)
- Is there a way to automatically detect deadlocks during runtime for reentrancy, or to issue warnings for potentially deadlocking code during compilation (https://github.com/asynkron/protoactor-dotnet/issues/2413)
- .NET ActorSystem c

[2022-02-04 11:46] seungyongshim commented on #1429
* Persistence for MySQL
* Documents for Virtual Actor Lifecycle

[2022-02-04 12:14] marcinbudny commented on #1429
Hey @seungyongshim I assume by MySQL persistence you mean the event-sourced implementation? Can you explain what your use case for event sourcing with actors is? Could it be replaced with simply storing actor state as-is in the database?

[2022-02-04 12:29] rogeralsing commented on #1429
Regarding persistence, we should aim to replace the SQL based providers with an abstraction using https://linq2db.github.io/
Which allows a unified way of interacting with most relational DBs out there

[2022-02-04 12:33] mtsikevich commented on #1429
Add rust support

[2022-02-04 12:41] wldevries commented on #1429
- Increase API coverage of documentation
- Include intellisense documentation or source link in nuget package

[2022-02-04 13:14] alexeyzimarev commented on #1429
@wldevries SourceLink is included since a couple of years back
https://github.com/asynkron/protoactor-dotnet/blob/51bbe10c81ab26d12f6a78aee18695ea0315af33/src/Directory.Build.props#L22

[2022-02-04 13:23] wldevries commented on #1429
👍 mistake on my side. I expected the "Go to definition" feature in Visual Studio to use Source Link. Unfortunately it does not.

https://github.com/dotnet/roslyn/issues/24349

[2022-02-04 13:56] seungyongshim commented on #1429
@marcinbudny
Grain persistence case
* https://dotnet.github.io/orleans/docs/grains/grain_persistence/index.html
* https://v1-7.docs.dapr.io/developing-applications/building-blocks/actors/howto-actors/#actor-state-management

[2022-02-04 15:15] juliolitwin commented on #1429
Could MagicOnion and MsgPack be a possibility? Mainly MessagePack, since it is faster serialization than protobuf, could increase more messages per second.

[2022-02-04 22:10] DenizPiri commented on #1429
@juliolitwin We are using MessagePack together with Proto.Actor for quite a while, it works really well. We wrote a serializer, and instead of using typename, we use integer ids for each type we define. This allows multiple versions of the app to work together even after refactoring class names. Default protobuf serializer of Proto.Remote uses class name as the identifier, so it wouldn't support r

[2022-02-04 22:23] DenizPiri commented on #1429
- **A much better reviewed+tested Proto.Cluster and Proto.Remote libs.** I have been having issues with it for quite a while, unfortunately, when there are issues, there is very little I can do to get any meaningful data to diagnose the issue. Maybe a function like "string DumpInternalState()" could be nice, if it would dump all internal cluster/partitionIdentity states. That would at least allow

[2022-02-05 10:35] seungyongshim commented on #1429
* UnderlyingActor for Unittest
    * https://getakka.net/articles/actors/testing-actor-systems.html#obtaining-a-reference-to-an-actor

[2022-02-06 18:35] juliolitwin commented on #1429
@DenizPiri

It will be awesome if you can opensrc MsgPack extensions, and thanks for sharing the information with us! :]

Now a question, I was worried when you said that you are having problems with Proto.Cluster and Proto.Remote. In your opinion and experiences, do you think the ProtoActor is not ready for production yet?

Anyway, thanks to the whole team @rogeralsing for being so active on the

[2022-02-06 21:49] DenizPiri commented on #1429
@juliolitwin Just done: https://github.com/AhoyGames/Ahoy.Proto.MessagePack
Published it to nuget too. https://www.nuget.org/packages/Ahoy.Proto.MessagePack/
I will try to maintain it and make sure it follows the new Proto.Actor releases.
Ahoy.MessagePack.NewtonsoftJson, Ahoy.MessagePack.Protobuf, Ahoy.MessagePack.Thrift and Ahoy.MessagePack.SystemJson can be used without any Proto.Actor dependenc

[2022-02-07 03:22] JesOb commented on #1429
Please create samples of simple systems (Hello World) that actually ready to work in Cloud with clustering not on local developer machine.

For .Net it is ASP Net Core Generic Host version sample that work alongside ASP itself and can work on Cloud infrastructure of few main Cloud Providers with at least 2 cluster nodes communicating:
 - Microsoft Azure
 - Google App Engine
 - Amazon AWS

It is re

[2022-02-07 18:51] rogeralsing opened #1432 "Add "reflection" for virtual actors"
We do have endpoints to list processes inside the process registry.
But we have no way of querying the cluster for what virtual actors that exists.
We can get some information via gossip heartbeat actorstats.

For diagnostics purposes, it would be neat to have this capability.
e.g. for Cluster Dashboard

[2022-02-07 18:53] rogeralsing opened #1433 "TTL Mailbox queue"
After discussions with @DenizPiri, it would be useful to have a mailbox, that measures how long a message have been in the mailbox, and removes messages where the TTL has expired

It could be implemented with a custom mailbox queue, which contains an envelope that has a timestamp.
when the mailbox pulls a message to push it into the actor, we check current time minus placed on mailbox time.
if thi

[2022-02-07 18:56] rogeralsing commented on #1416
https://github.com/kubernetes-client/csharp/blob/8f4ee45cf38e572c56b76b684804381e13d4eac3/tests/E2E.Tests/MnikubeTests.cs#L121

Marking this up for grabs for anyone to replace the asp.net jsonpatch object we use today.

[2022-02-07 19:06] rogeralsing opened #1434 "Proto.Cluster Dashboard 🚀"
# Proto.Cluster Dashboard.

The dashboard is a Blazor serverside app released as a Nuget package.
You can reference and use this in an Asp.NET site that hosts an Proto Cluster member.

https://user-images.githubusercontent.com/647031/152855150-f6decd24-7445-4cfa-961e-a7e2e4bc4e79.mov

## Installation:

* Requires .NET 6
* Requires an Asp.Net Core Site to host
* Add Nuget Proto.Cluster.Dashboard

[

[2022-02-07 19:09] rogeralsing commented on #1434
Feel free to try this out. do note that this is experimental but should already offer a pretty good insight into your cluster state

[2022-02-08 17:58] DenizPiri opened #1447 "Proto.Cluster issue when using static port number for Proto.Remote"
I found an issue in Proto.Cluster, occurs on the 0.27.
If you have a single instance on a single host, you force kill that instance and start a new one quickly.
That host is unable to unregister itself from Consul/Etcd. When the new instance starts, it sees 2 cluster members with the same address.
Normally, it should be an issue only until the first instance's lease expires, and later it should re

[2022-02-08 21:15] rogeralsing commented on #1447
I think this should be fairly easy to solve.
The node that is restarted sees the old ghost node with the same address as itself.
As the new node knows that the other node must be a ghost, the new node can block the ghost node, and tell every other node about that via gossip.

cc @mhelleborg

[2022-02-08 21:20] DenizPiri commented on #1447
@rogeralsing I am not sure if that would be the solution. The problem is the address of the old host and the new one being identical, because we use static port numbers. And SimpleMemberStrategy does RemoveAll by address, so when the old host disappears, all members that support that kind disappear.

I switched our nodes to use auto-bound ports, and I can't reproduce this issue anymore. Once the o

[2022-02-09 03:38] sudsy commented on #1429
I'd like to see more error details in the terminated message #535 to avoid duplication in code for error management.

I would second the need for "A much better reviewed+tested Proto.Cluster and Proto.Remote libs". It's happened several times that after an upgrade to the latest version of proto.actor I have to spend a fair bit of time working out why things are working differently. Expected in a p

[2022-02-20 12:05] rogeralsing commented on #1416
Done. will release a new proper release with the fix

[2022-02-20 12:05] #1416 closed, assigned to nobody

[2022-02-20 21:21] rogeralsing commented on #1242
I missed following this one up.
But this is fixed now as members cannot get out of StartMember before the member sees themselves in the memberlist.

Closing, please reopen if this still surfaces in some way

[2022-02-20 21:21] #1242 closed, assigned to nobody

[2022-02-20 21:22] rogeralsing commented on #1030
Done

[2022-02-20 21:22] #1030 closed, assigned to nobody

[2022-02-20 21:26] rogeralsing commented on #1041
Partially solved. all spawning now logs if the spawn failed.
That being said, I see that it would be nice to be able to pass in a supervisor strategy for cluster actors

[2022-02-20 21:29] rogeralsing commented on #644
duplicate of #970

[2022-02-20 21:29] #644 closed, assigned to nobody

[2022-02-20 21:33] rogeralsing commented on #1285
SafeTask has been fixed. we might have to improve this in other task loops though. closing for now

[2022-02-20 21:33] #1285 closed, assigned to nobody

[2022-02-20 21:36] rogeralsing commented on #1311
Not sure if this is of any real value. virtual actors pretty much do this. code generated virtual actors definitely do this

[2022-02-20 21:36] #1311 closed, assigned to nobody

[2022-02-20 21:44] rogeralsing opened #1473 "ISelfSupervise"
Related to https://github.com/asynkron/protoactor-dotnet/issues/1041

Should we allow actors to supervise themselves?

Just as we can escalate exceptions to a parent. we could allow the actor to supervise themselves.

e.g.

[code]

[2022-02-20 21:50] #1412 closed, assigned to nobody

[2022-02-20 21:52] rogeralsing commented on #1041
Closing in favor of #1473

[2022-02-20 21:52] #1041 closed, assigned to nobody

[2022-02-20 21:55] rogeralsing commented on #814
Solved by @mhelleborg
![Uploading Skärmavbild 2022-02-20 kl. 22.55.00.png…]()

[2022-02-20 21:55] #814 closed, assigned to nobody

[2022-02-20 22:03] rogeralsing opened #1475 "Serialize all messages Middleware"
Let's add a middleware in Remote, that allows us to serialize all messages.

[2022-02-21 07:42] rogeralsing opened #1477 "Gossip timeout (AKS related?)"
![image](https://user-images.githubusercontent.com/647031/154909882-f2e7503e-cc06-456d-b98d-f86270acfe73.png)

[2022-02-21 13:56] Mastaleck opened #1481 "Authentication for communication between Cluster members (Remoting)"
Hi, maybe somebody has an idea.
I'm trying to enforce bearer authentication for the communication between cluster members. In our current project the cluster members will be hosted on different windows machines and we have to ensure that no external unauthorized requests can reach the cluster. I tried different ways... but nothing worked. I think the only way is to mark the EndpointReader with an

[2022-02-21 14:10] DenizPiri commented on #1475
We implemented something like this in our codebase. Some notes of our usage:
- We only use it for Cluster actors.
  - We have many locally spawned actors and we are not interested in making their messages serializable. We just want them to be immutable.
- Instead of serializing all messages, we serialize only a given percentage of them (based on a random dice roll).
  - This allows us to test both

[2022-02-21 15:18] Damian-P commented on #1481
Hello,
Did you try using TLS certificates ?

[2022-02-21 16:55] Mastaleck commented on #1481
Thank you very much for your reply!

That would be a possibility. The problem is that a simple REST Api needs to be hosted alongside the Actor System. I have customized the Kestrel Configuration to run the Api on one port and Http1 and Remoting on a separate port over Http2. This works so far. However, at least according to the documentation, the certificate authentication would then apply globall

[2022-02-24 09:13] rogeralsing opened #1483 "Virtual Actor Start not part of traces"
When a virtual actor starts up. it receives an automatic `Started` message from the runtime itself.
This message is however not sent under the current trace activity.
And if the actor reads from a DB or similar, those interactions will not be part of any trace in e.g. OpenTelemetry tracing.

There are a lot of different hops in the process from before an actor exists until it is spawned somewhere.

[2022-02-25 14:12] rogeralsing opened #1485 "Add System.Id to OpenTelemetry Tracing tags"
Currently we have the following tags:

[code]

We should add

`proto.systemid` mapping to actorSystem.Id.

[2022-02-26 12:41] rogeralsing opened #1486 "Introduce infra and examples on sharding"
Akka Cluster Sharding is somewhat similar to virtual actors. instead of virtual actors, you have shards, which then, in turn, contain entities.

The cons of sharding are that it's not very fine-grained, you can get unbalanced workloads across nodes.
The pros are that it is more lightweight on topology changes.

e.g. instead of moving millions of virtual actors around. you move far fewer shards. (i

[2022-02-26 13:01] rogeralsing commented on #1486
Like so
<img width="934" alt="Skärmavbild 2022-02-26 kl  14 00 51" src="https://user-images.githubusercontent.com/647031/155844278-193d10a0-ee13-4bc1-a118-ab8b65d3759a.png">

[2022-02-27 13:22] rogeralsing opened #1487 "Introduce distributed locks"
Super easy to implement.
A named virtual actor with Lock and Release semantics.
if the actor is already locked, anyone who tries to take the lock will have to wait until the lock is released.

[2022-02-28 14:13] rogeralsing opened #1490 "Note: Breaking changes in project structure 💥"
As we are moving towards an official 1.0 release. we are removing obsolete projects and reorganizing the solution structure.

OpenTracing package is removed, as Open Tracing is obsolete and replaced with OpenTelemetry
Proto.Remote.GrpcCore is removed, Grpc.Core has been obsoleted by MS in favor for Grpc.Net.
Proto.Remote.GrpcNet has been merged into Proto.Remote. there is no reason to keep two sep

[2022-03-02 04:25] rogeralsing commented on #1486
I found this today:
Akka can do Local Affinity processing of Kafka partitions:
https://www.youtube.com/watch?v=Ad2DyOn4dlY

We should add info about this in the local affinity docs and describe the similarities/differences

[2022-03-03 06:28] rogeralsing opened #1502 "Allow Proto.Cluster.CodeGen to be executed from CLI"
There are requests for having the possibility to invoke Proto.Cluster.CodeGen as a CLI tool.
This should be fairly easy to accomplish I believe as this is how it once all started.

[2022-03-03 20:06] Mastaleck commented on #1481
I got it working. Communication is now encrypted and the cluster members are authenticating via JwtBearer. If someone is interested, I would describe the solution.

[2022-03-03 20:06] #1481 closed, assigned to nobody

[2022-03-03 20:56] rogeralsing commented on #1481
Please tell, I don't think we have seen JwtBearer usage with Proto.Actor before

[2022-03-04 10:54] Mastaleck opened #1503 "Proto.Cluster.CodeGen 0.28 not working anymore - Wrong version of Handlebars.dll"
Hi,

I upgraded today to release 0.28 and Proto.Cluster.CodeGen is not working anymore.
Getting an System.IO.FileNotFoundException: Handlebars Version 2.1.0.0 could not be found.

In the nuget package tasks folder there is a Handlebars.dll but the wrong Version 2.0.9.0.

![screenshot_handlebars_version](https://user-images.githubusercontent.com/35456426/156749867-bd13dde3-59ad-4611-84b1-1dc135e47b

[2022-03-04 11:10] #1503 closed, assigned to nobody

[2022-03-04 11:13] mhelleborg commented on #1503
Downgraded the reference for now.

We should fix a better way to include the deps later, but this should fix the immediate issue

[2022-03-05 10:37] #1261 closed, assigned to nobody

[2022-03-05 10:38] rogeralsing commented on #1434
Moved it into the core repository now

[2022-03-08 09:15] Mastaleck commented on #1481
This is my current cluster setup (DependencyInjection, Remoting with SSL and Authentication:
I'm using the HostedGrpcNetRemote and some of the GrpcNetExtensions.
I had to implement some workarounds to get it working. I think nobody is using the HostedGrpcNetRemote at this time.
Maybe we can get it working out of the box..

[code]

[2022-03-12 07:47] rogeralsing opened #1508 "Community Standup 1 Agenda"
Draft for our first community standup

## Date: [To be determined]

## Roadmap

Showcase new features

* Seed nodes
* PartitionIdentityLookup
* PartitionActivatorLookup
* Cluster Dashboard
* OpenTelemetry metrics and tracing
* Cluster PubSub

## Community demos / use-cases

Are there any companies that want to showcase what they are building using Proto.Actor?
Comment in this thread if you are int

[2022-03-12 17:03] rogeralsing opened #1511 "Move away from static Logger"
The only static part of Proto.Actor nowadays is the `Proto.Log`

This prevents us from injecting extra labels/properties into log entries.
It is also somewhat problematic for testing.

When using dependency-injection, this is not an issue, we can simply inject a logger instance into the ctor.
But in the case where you do not use dependency injection, what would be the proper approach there?
We cou

[2022-03-15 07:14] rogeralsing opened #1519 "Redesign Gossip Topology"
Currently, we store an entire ClusterTopology message in the gossip state.
This includes Left and Joined members. which are irrelevant here. the only relevant part is topology hash, members and blocked member ids.

Not a big issue, but still not clean in terms of design.

Blocked members would also be nice if we could send as a delta instead.

[2022-03-16 12:03] rogeralsing opened #1523 "Metrics bug: Virtual Actor counter"
If a virtual actor is about to start, the metrics counter increases.
But, if the actor fails to start, e.g. bad code in handing `Started` the actor fails, and the counter is never decremented.

Making it look like there are more actors of this type than there is

[2022-03-16 16:01] rogeralsing opened #1524 "Solved: Kubernetes/AKS latency issue: Investigate Gossip response timeouts"
We are seeing some suspicious behavior for gossip responses in a client system.

The system consists of two types of nodes, a web-proxy that directs websocket messages into local actors and then forward into cluster nodes.

It is only (or mainly) the web-proxy nodes that see gossip timeouts.
Many times per minute.

The gossip response timeout defaults to 0.5s, which should be way more than enough

[2022-03-17 16:04] rogeralsing commented on #1524
Solved by @luddskunk

Removing resource limits from the pods made all the timeouts go away.
Worth noting is that we did not exceed or cap CPU before. and it is still at the same level as before removing the limits.

But all the timeouts are now gone

[2022-03-18 08:24] #1524 closed, assigned to nobody

[2022-03-19 19:35] rogeralsing opened #1526 "Potential KubernetesProvider bug"
Hosting in AKS.

It seems like the Kubernetes provider actor stops working/hangs at some random point.
Haven't experienced this one before. maybe a one-off for whatever reason.
Might not ever be an issue, potentially just metrics problems.

![image](https://user-images.githubusercontent.com/647031/159135156-bd34d0ad-196e-433e-86d5-755672babe28.png)
![image](https://user-images.githubusercontent.co

[2022-03-19 19:59] rogeralsing commented on #1526
Def looks fishy

Plotting the receive count for StartWatchingCluster goes flatline

![image](https://user-images.githubusercontent.com/647031/159136565-73c87001-f615-432d-8744-7f90243a205e.png)

[2022-03-19 20:01] rogeralsing commented on #1526
Maybe these are disposed for some reason and the look stops there?
https://github.com/asynkron/protoactor-dotnet/blob/dev/src/Proto.Cluster.Kubernetes/KubernetesClusterMonitor.cs#L121-L122

[2022-03-20 07:16] rogeralsing commented on #1526
happened in a different environment now

<img width="359" alt="Skärmavbild 2022-03-20 kl  08 16 27" src="https://user-images.githubusercontent.com/647031/159152375-2a2f285d-232d-447a-af5f-63a44e50d4dc.png">

[2022-03-20 08:49] rogeralsing commented on #1526
Bug in Kubernetes Client AKS refresh tokens?
https://github.com/kubernetes-client/csharp/issues/764

[2022-03-25 06:44] rogeralsing opened #1532 "KubernetesProvider breaking change"
Previously we have passed an `IKubernetes` client into the `KubernetesClusterProvider`.
This works fine as long as there are no issues with the Kubernetes API Server (in the infrastructure, not related to proto.actor)
But if the Kubernetes API server for some reason fails, e.g. restarts, is OOM killed or any such event. then the existing IKubernetes client can no longer communicate with the API se

[2022-03-25 06:57] rogeralsing commented on #1526
solved by #1532

[2022-03-25 06:57] #1526 closed, assigned to nobody

[2022-03-25 06:58] #1490 closed, assigned to nobody

[2022-03-30 07:05] rogeralsing opened #1534 "Make Cluster Request-retry configurable"
https://github.com/asynkron/protoactor-dotnet/blob/dev/src/Proto.Cluster/DefaultClusterContext.cs#L47

The retry timer is hardcoded to 1 second right now.
We should really make this configurable so that you can turn this off in development scenarios

[2022-04-01 01:12] seungyongshim opened #1535 "[EKS] Single time, Gossip loop failed -> Stopping Cluster"
## Expect
* Success joining cluster

## Actual
* A single time, stopped actor system.

## Specifications
* Version: 0.28.0
* Platform: AWS EKS v1.20
* Subsystem: dotnet6
* Node: m5.large
* Limit
[code]
   * I read https://github.com/asynkron/protoactor-dotnet/issues/1524, but SRE guy want to use resources limit for pod.

## Log

timestamp | level | message
-- | -- | --
48:04.8 | Warning | Storing

[2022-04-01 05:30] rogeralsing commented on #1535
The settings for gossip can be tweaked using these two values:
https://github.com/asynkron/protoactor-dotnet/blob/dev/src/Proto.Cluster/ClusterConfig.cs#L27-L28

It is also possible to extend the window for how long a member node is allowed to have no heartbeat before getting evicted:
https://github.com/asynkron/protoactor-dotnet/blob/dev/src/Proto.Cluster/ClusterConfig.cs#L31

But that being said

[2022-04-01 06:42] #1535 closed, assigned to nobody

[2022-04-01 07:27] rogeralsing commented on #1535
I'll try to collect some more details about this

https://builders.intel.com/docs/networkbuilders/cpu-pin-and-isolation-in-kubernetes-app-note.pdf

[2022-04-05 13:21] rogeralsing opened #1540 "Make it possible to check if a grain is activated"
There are cases where it makes sense to skip sending some message to a grain if you know the grain is not active.
It would be nice to have some mechanism for this

[2022-04-08 15:57] rogeralsing opened #1541 "Noisy logging during shutdown"
When a system is shutting down, there are a lot of logs that could just be discarded.
e.g gossip timeouts, various connection retries etc. which could just be ignored if the Shutdown CTS has been cancelled

[2022-04-08 17:05] jstnlef commented on #1541
The messages we're seeing errors for include
`Gossip loop failed`
`I have been blocked, exiting ...`
`Connection Refused to remote member ..., they are blocked`

[2022-04-09 04:55] hejiang123 opened #1542 "How to actively send messages to clients in cluster mode?"
That's true. At present, I have a game server, a room service and a gateway server. The gateway server starts with startclientasync and the room service starts with startmemberasync. Then the client connects to the gateway server with TCP and successfully creates a room on the room service. But I can't actively push network messages to clients through room service. What should I do?

[2022-04-10 13:44] hejiang123 opened #1543 "C# How to delete actor in cluster mode?"
When the user goes online, I get an actor in the cluster through grain But this actor always exists in the service I want to delete this actor successively in the user to release the memory of the service. What should I do?

[2022-04-10 20:23] rogeralsing commented on #1543
To stop the actor, you call:
`context.Stop(context.Self)`  //stops immediately
or
`context.Poison(context.Self)` //stops after processing all messages currently on the actors mailbox

You can use `context.SetReceiveTimeout(timeout)` to make the actor send a message to itself after x time of idling.
Meaning, if the actor does not receive any messages for `timeout` time. then it automatically sends

[2022-04-11 04:24] hejiang123 commented on #1543
Hello, my current practice is to call after the user is offline.

ClusterIdentity clusterIdentity = ClusterIdentity. Create(_userId.ToString(), PlayerbGrainActor. Kind);

_ actorSystem. Cluster(). RequestAsync<Terminated>(clusterIdentity, Stop.Instance, new CancellationTokenSource(). Token);

To delete the actor of the service center. The actual effect will fall into a dead cycle, constantly delet

[2022-04-11 06:33] rogeralsing commented on #1543
`_ actorSystem. Cluster(). RequestAsync(clusterIdentity, Stop.Instance, new CancellationTokenSource(). Token);``

Here you are sending a system message via the request pipeline.
Rather you should send a custom user message. e.g. `SessionEnded` or something like that.
And internally in the actor, you do context.Stop or Poison

[2022-04-22 19:28] rogeralsing opened #1547 "Add setting to ClusterConfig for retry interval"
Currently, the retry interval for cluster calls is hardcoded to 1 second.
This should be configurable via the ClusterConfig

[2022-05-06 08:26] rfrerebe-stx opened #1562 "[Question]"
Hello,

I see that we can use [Router for IActor](https://github.com/asynkron/protoactor-dotnet/blob/dev/examples/Router/Program.cs) , but is it possible to use Router for Grain ?

[2022-05-09 12:18] rogeralsing opened #1563 "Ensure we are not writing mutating messages"
"GossipResponse System.InvalidOperationException: Did not write as much data as expected."

IIRC , this can be the results of writing when someone else is modifying the message

[2022-05-09 12:48] rogeralsing commented on #1562
Hi @rfrerebe-stx , no, there is no way to use a router for Virtual Actors / Grains.
You could however create an actor that behaves like a router, which routes messages to a list of grain identities.
e.g. that is what we are doing in the Cluster PubSub feature.

There is no fundamental reason why Routers cannot do this. we could theoretically have Group routers that accepts ClusterIdentities instea

[2022-05-09 13:39] rfrerebe-stx commented on #1562
Thanks 👍

[2022-05-09 13:39] #1562 closed, assigned to nobody

[2022-05-09 15:35] rogeralsing commented on #1563
[code]

[2022-05-10 17:51] rogeralsing commented on #1547
Done

[2022-05-10 17:51] #1547 closed, assigned to nobody

[2022-05-10 17:52] #1532 closed, assigned to nobody

[2022-05-10 20:56] rogeralsing opened #1567 "Allow automatic actor rebalancing on topology changes"
The PartitionActivatorLookup already does this due to the algorithm itself.
However, the other ID lookups do not. e.g. PartitionIdentityLookup. let actors continue to stay where they were spawned.

We do have actor metrics in gossip heartbeat. so we could use that data to stop actors on crowded nodes

[2022-05-11 17:26] rogeralsing commented on #1534
Done

[2022-05-11 17:26] #1534 closed, assigned to nobody

[2022-05-17 14:19] rogeralsing opened #1578 "Exponential backoff when trying to connect to address that returns blocked member id"
In the remote reader, when we connect to an address and the remote address returns a member-id that is blocked.
We should backoff and not try to reconnect within x time again.
blocking is per memberid and not per address, as the address can be reused later on.

[2022-05-17 14:20] rogeralsing commented on #1578
marking as a bug as the connecting system will spam-reconnect right now

[2022-05-19 13:41] rogeralsing opened #1581 "Purging gossip needs to be improved"
Whenever we purge the gossip, we only take into account what members are blocked.
if there are some entry of a memberid that is not blocked, nor part of the active member list. then this entry exists forever

[2022-05-19 13:54] rogeralsing commented on #1581
Maybe the correct thing to do is to simply filter on currently active members from the topology
Ignoring anything else.

e.g. on topology update, filter away gossip member ids that are not part of our own active member list

[2022-05-19 13:59] rogeralsing commented on #1581
The above would make it impossible to use the seed node provider. so that won't work

[2022-05-19 20:08] rogeralsing opened #1584 "Flaky Cluster.ShutdownAsync"
During the shutdown of the cluster. the gossip actor might already have stopped. causing various request async calls to it to fail.
e.g. setting the gracefully left flag in Shutdown can result in DeadLetterException

[2022-05-21 19:47] rogeralsing commented on #1581
Fixed, purging is based on active members in memberlist

[2022-05-21 19:47] #1581 closed, assigned to nobody

[2022-05-21 19:47] rogeralsing commented on #1584
fixed

[2022-05-21 19:47] #1584 closed, assigned to nobody

[2022-05-22 12:02] rogeralsing opened #1588 "Blocked remote node unaware it is blocked"
We have seen cases where a member is blocked by the cluster. everyone except the member itself knows about this.

Other members are trying to connect and see that the remote member is blocked.
the zombie node sees that incoming connections are dropped. but never gets the information that it was due to the fact that it was blocked.

Meaning the working members get the "they are blocked" message fro

[2022-05-22 12:17] rogeralsing commented on #1588
[code]

[2022-05-22 12:26] rogeralsing commented on #1588
[code]

[2022-05-22 12:50] rogeralsing commented on #1588
The member got a disconnect here:

<img width="1286" alt="Skärmavbild 2022-05-22 kl  14 50 00" src="https://user-images.githubusercontent.com/647031/169695941-63cda0f8-2585-4d17-a1eb-62fbf792d89e.png">

[2022-05-22 14:41] rogeralsing commented on #1588
The actual block happens here:

<img width="1311" alt="Skärmavbild 2022-05-22 kl  16 41 25" src="https://user-images.githubusercontent.com/647031/169700936-36a27f7c-058d-49e6-845a-99fef218d0af.png">

[2022-05-22 18:18] rogeralsing commented on #1588
I've made the ServerConnector send the blocklist upon connection requests.
The target member can then check if itself is part of that set. and if so, shutdown itself

[2022-05-22 18:27] #1588 closed, assigned to nobody

[2022-05-22 18:57] rogeralsing opened #1591 "Improve test-suite for blocking remote/cluster"
## Connection detection 1

Scenario:
A considers B blocked.
A connects to B
B should be informed of the blocklist of A
B fires MemberBlocked(B) event on eventstream

## Connection detection 2

Scenario:
B considers A blocked.
A connects to B
B returns ConnectionResponse that A is blocked
A fires MemberBlocked(A) event on eventstream

## Heartbeat expiration

Scenario:
Neither A nor B is blocked
A

[2022-05-22 20:12] rogeralsing opened #1592 "Self-expire heartbeats"
It might be worth to try to come up with a way to self-expire heartbeats.
Meaning, if a node has failed to transmit its gossip to any other nodes within X time.
Assuming there are other nodes, and that they are reported as alive via the cluster provider

[2022-05-24 15:21] rogeralsing opened #1600 "Gossip two-ack bug"
There is a bug somewhere in the gossip two-ack mechanism. currently, this is disabled in favor for just request-response of gossip data.

[2022-05-25 09:36] rogeralsing opened #1603 "Make system actor names consistent"
Some are prefixed with $, some other are not.
Let's stick with the $ prefix and use for all system actors

$invalidator
activator
partition-activator
$proxy-activator
pubsub-delivery
partition-activator
$proxy-activator
gossip
pubsub-delivery
server_seed

[2022-05-25 10:12] rogeralsing opened #1604 "Spawn worker actors as system actors"
e.g. Kubernetes monitor actor, should be spawned as a system actor
SystemContext.SpawnNamedSystem

This ensures the correct logging and supervision is applied

[2022-05-25 10:14] rogeralsing opened #1605 "Make logging templates more consistent"
"[Cluster][Kubernetes] Some Log"
vs.
"Gossip sent some data"

let's apply [CoreModule][SubModule] templates to built in logs. e.g. in Gossip

[2022-05-25 12:23] rogeralsing opened #1608 "Gossip actor throws"
`......20:8089/gossip GossipActor Got exception waiting for RequestAsync response of GossipRequest:{`

shows up in LoggingContextDecorator

[2022-05-25 12:49] rogeralsing commented on #1608
false positive. it logs for the RequestAsync decorator.

[2022-05-25 12:49] #1608 closed, assigned to nobody

[2022-05-27 12:53] rogeralsing opened #1621 "PubSub bug"
[code]

[2022-05-27 14:14] marcinbudny commented on #1621
Is this from the test run https://github.com/asynkron/protoactor-dotnet/runs/6625674245?check_suite_focus=true#step:6:65?

Looks like OOM was involved:
![image](https://user-images.githubusercontent.com/2671162/170716982-aefa5b91-fab2-4a90-9916-dec85a1332e9.png)

[2022-06-01 12:37] mhelleborg commented on #1310
@rogeralsing This could just be implemented as a predicate on the ClusterKind, checked by the identity provider?

[2022-06-02 13:30] rogeralsing commented on #1621
The OOM message above is a false positive, it caught SystemException rather than OutOfMemoryException.

This is what we are seeing now:
<img width="847" alt="Skärmavbild 2022-06-02 kl  15 29 28" src="https://user-images.githubusercontent.com/647031/171640451-ffc31d0e-5ea4-48c8-b238-736c449d95ea.png">

[2022-06-03 06:16] marcinbudny commented on #1621
What environment is this failing in? I cannot reproduce locally. Can you point me to test results?

[2022-06-03 08:21] rogeralsing opened #1647 "Json fallback serializer should (probably) ignore Protobuf IMessage"
If someone forgets to register a protobuf message in the remote module, it might be that the message still can be partially serialized using the Text.Json serializer, resulting in unexpected results. e.g. partially missing data.

The Json serializer should probably have a filter to not touch IMessage, to make the above log serialization errors

[2022-06-04 22:00] rogeralsing commented on #1603
Done

[2022-06-04 22:00] #1603 closed, assigned to nobody

[2022-06-04 22:10] rogeralsing commented on #1604
Done

[2022-06-04 22:10] #1604 closed, assigned to nobody

[2022-06-05 06:54] woksin opened #1651 "Use source generated LoggerMessage"
Is it time to start gradually moving over to using [Microsoft's source generated LoggerMessage](https://andrewlock.net/exploring-dotnet-6-part-8-improving-logging-performance-with-source-generators/)? With the source generated logger message you get multiple things for free. Better performance and less allocations, no need to check if log level is enabled and hiding the actual log messages behind

[2022-06-05 06:59] woksin commented on #1651
This is obviously not something that needs to be done in one big-bang. In my experience it is smart to just decide on starting somewhere and sticking to it, then it's also easier to continue using it for new log-statements.

In terms of performance the best place to start would be where logging happens frequently, if you have a suggestion I would be happy to start this journey

[2022-06-05 09:34] alexeyzimarev commented on #1651
What I did in Eventuous is to use the EventSource instead, and add an extension for the application builder, which adds a listener that dumps messages produced by the EventSource to `ILogger`. EventSource is very fast, although limited in functionality, and, if allows a more structured approach for logging like
[code]

I see that the `ILogger` source generator uses the same principle by defining a

[2022-06-06 07:14] woksin commented on #1605
When someone gets on to enforce this maybe it's worth considering making CoreModule and SubModule a part of the structured log. I.e a template could look like this: "[{CoreModule}] [{SubModule}] Log message..."

Also to make this more fun we could have source generators extend upon Microsoft's source generators for LoggerMessage to generate logger messages with this specific template.

[2022-06-08 08:05] mhelleborg commented on #1310
Feature added in #1653

[2022-06-08 08:05] #1310 closed, assigned to mhelleborg

[2022-06-08 10:04] pierre-sts opened #1661 "Spawning a ConsistentHashPool hangs when the underlying actor type is not registered in DI container"
# Summary

Calls to `Spawn` on `ConsistentHashPool` props hang if:
1. The underlying routee actor props are acquired through dependency injection, and
2. The underlying routee type is not properly registered with the DI container.

The expected behavior would be an exception such as: `System.InvalidOperationException: No service for type 'MyActor' has been registered.`

# How to reproduce the issu

[2022-06-08 18:11] rogeralsing commented on #1651
I'm all for giving the new source-generated logging a try.
It would be interesting to see it in an isolated case first. just to get some idea of the look and feel of it

[2022-06-11 06:26] rogeralsing opened #1668 "Gossip features brainstorming"
* TTL on gossip keys would be good to have - the timestamp would be local to the node owning the value. and invalidated by that node
* Delta values - e.g. Lists where items are added or removed. event sourcing'ish, instead of replicating the entire value as a single blob
* CRDTs ? - would be a cool feature, not sure about how much of a demand there is for this though

[2022-06-18 14:39] rogeralsing opened #1672 "Brainstorming: Automatic gRPC and Http services for virtual actors"
Protobuf service definitions allows for metadata for e.g. HTTP

We _could_ code generate HTTP endpoints for all of this which just forwards incoming calls to the correct actor.
The tricky part here would be to decide how to get the actor id.
if that should be part of messages or part of the URL.

[code]

[2022-06-18 16:23] rogeralsing opened #1673 "Document all built in user-facing messages"
PoisonPill
IAutoRespond
etc.

[2022-06-19 09:21] rogeralsing commented on #1673
Scaffolding https://proto.actor/docs/messages/

[2022-06-20 16:44] rogeralsing opened #1677 "Send ReceiveTimeout via system message channel"
Currently, ReceiveTimeout messages are sent as a user message, even though it is tagged as a system message.

This means that if there are a lot of user messages, the receive timeout might be triggered much later than intended.
There is also no need to run it via middlewares in the way user messages are processed.

Instead, the SystemMessage handler in actor context should allow the ReceiveTimeout

[2022-06-24 10:48] marcinbudny commented on #1621
Issue with tests is resolved now via another PR

[2022-06-24 10:48] #1621 closed, assigned to marcinbudny

[2022-06-25 16:34] #1677 closed, assigned to nobody

[2022-06-27 14:08] rogeralsing opened #1683 "Proto.Actor V2 wishlist"
- [x] Remove Routers
- [x] Remove Persistence - use whatever lib you want
- [x] Merge all ibs into one. no use to having Proto.Remote as a separate lib
- [ ] Remove static Logging factory - make better use of DI
- [ ] async Send, which does not thread block on bounded mailbox queues
- [ ] IdentityLookup strategies per ClusterKind
- [ ] Ability to check if a virtual actor is activated, and where
-

[2022-06-29 14:25] juliolitwin commented on #1683
Hey @rogeralsing,

Would adding support for (R)UDP/KCP be viable to the project, or would it be reinventing the wheel? Since compared to gRPC, in a perfect world, KCP for example, would give greater performance.

[2022-06-30 14:49] rogeralsing commented on #1683
@juliolitwin interesting. have you worked with KCP? can you send bytearrays and receive them as a single block, or do I have to do manual framing etc?

[2022-06-30 18:50] juliolitwin commented on #1683
@rogeralsing when you refer to single block, are you referring to which block that sends, would receive the packet as async/await or callback? If so, it really is manual.

If my memory serves me right, the [ET](https://github.com/egametang/ET) project, made this implementation in his actor to make that both ways.

[2022-07-01 05:58] marcinbudny commented on #1683
Hi @juliolitwin , can you explain the use case where KCP support in proto.actor would make sense? AFAIK KCP focuses on reducing the latency over unreliable networks. Do you deploy in scenarios where cluster members are talking to each other over unreliable network?

[2022-07-10 12:04] rogeralsing commented on #1647
Done

[2022-07-10 12:04] #1647 closed, assigned to nobody

[2022-07-10 12:32] #1483 closed, assigned to nobody

[2022-07-10 12:32] #1485 closed, assigned to nobody

[2022-07-10 12:34] #1414 closed, assigned to nobody

[2022-07-10 12:34] #1434 closed, assigned to nobody

[2022-07-10 12:35] #1477 closed, assigned to nobody

[2022-07-10 12:45] #1543 closed, assigned to nobody

[2022-07-12 04:46] #873 closed, assigned to nobody

[2022-07-12 04:46] #874 closed, assigned to nobody

[2022-07-12 04:46] #876 closed, assigned to nobody

[2022-07-12 04:47] rogeralsing commented on #1240
https://github.com/asynkron/protoactor-dotnet/pull/1711

[2022-07-12 04:48] #1170 closed, assigned to nobody

[2022-07-12 04:49] rogeralsing commented on #1523
This is also related to https://github.com/asynkron/protoactor-dotnet/pull/1711
If the metrics are wrong, the placements will be skewed

[2022-07-12 05:51] rogeralsing opened #1712 "Make Cluster.RequestAsync throw exception instead of returning null"
Currently, Cluster.RequestAsync will return null for timeouts, this is an old design based on the fact that exceptions are expensive in .NET. it is however non-obvious and problematic to communicate to users.

Instead, I think we should use proper exceptions here.
This could also have a setting in ClusterConfig, so that it can be set to the old behavior for compatibility.

[2022-07-13 12:21] marcinbudny commented on #1433
What are the use cases for this functionality? I wonder if TTL mailbox covers them all.

* what if the message was sent over the network and spent some time in transit - should this time be included?
* what if the TTL should be measured as a total of all hops between multiple actors?
* what if the TTL is not measured from the moment the message is posted to the mailbox, but rather some event in th

[2022-07-13 12:25] marcinbudny commented on #875
This functionality go out of scope of pub-sub if #1713 is accepted

[2022-07-14 06:11] marcinbudny commented on #1079
This functionality go out of scope of pub-sub if #1713  is accepted

[2022-07-14 19:45] #1661 closed, assigned to marcinbudny

[2022-07-15 13:15] rogeralsing opened #1718 "Documentation: digital twins using actors. e.g. explain things around realtime map, how actors fit with IoT and games"

[2022-07-15 13:16] rogeralsing opened #1719 "Documentation: delivery guarantees and realtime systems. soft realtime vs queues etc. bringing up design patterns and challenges for this. e.g dropping data on the floor, vs retries"
This one could be a work in progress and we will add more insights over time.
But some initial insights around soft real-time vs at-least-once delivery would be great.

[2022-07-21 14:05] WoLfulus commented on #1683
I'd love to see compatibility with Unity (client at least). ~Some libraries has proper targets, but some doesn't.~
~For example, I'm able to reference Proto.Actor but not Proto.Cluster (missing netstandard target).~

Edit: I now know why exactly Proto.Cluster doesn't have a netstandard target (AspnetCore dependency), but would be nice to at least have a way to communicate with the cluster from a n

[2022-07-25 06:56] marcinbudny commented on #1683
@WoLfulus We were actually thinking about dropping netstandard2.1 support from the framework and requiring at least netcoreapp3.1 everywhere. Are you currently using proto.actor inside Unity projects? Can you describe the use case?

[2022-07-25 12:57] WoLfulus commented on #1683
@marcinbudny We're building an MMO with proto.actor. We use it to maintain the persistent world state across different zones, in which each zone is an unity dedicated server instance. Player session handoffs occurs very frequently between zone servers when a player passes through a portal (zone a -> zone b), and when the connection is made, the state if fetched from the cluster, which also acts as

[2022-07-25 14:30] marcinbudny commented on #1683
@WoLfulus that sounds awesome, thanks for sharing.

From what you wrote before I assume you'd like to connect the game client directly to the cluster. Proto.Cluster has a concept of "client members" however that requires the client to access the membership provider (e.g. connect to Consult or Kubernetes API) so it's not really feasible to have game clients as client members of the cluster. Normall

[2022-07-25 16:37] WoLfulus commented on #1683
@marcinbudny It's not a game clients (used by players), it's a dedicated server instance (different build type) that is also developed in Unity but hosted only by us - it's a completely different thing. The "game client" only connects to this dedicated server instance, in which offloads state to the Proto.Actor cluster.

[code]

Right now yes, the server is talking to the cluster using MagicOnion

[2022-07-29 10:39] #1712 closed, assigned to marcinbudny

[2022-08-16 13:46] mjaric opened #1739 "[Proposal] Proto.Persistence.IEventStore should provide PersistEventsAsync that accept multiple events as argument"
Currently `Proto.Persistenece.IEventStore` only supports persisting single event at the tame.
[code]

This may not be good option for some cases. For instance, (and this just my preference) if we are using journal db like EventStore, the client will create ACID until that single event is persisted in [EventStore](https://eventstore.com) regardless there are other events in batch that should belong

[2022-08-18 03:35] CloudHolic opened #1740 "[EKS] Timeout in GossipReenterAfterSend"
Expect
---
- Gossip works properly, not throwing an exception

Actual
---
- GossipActor throws TimeoutException

Specifications
---
- Version: 1.0.0-rc2
- Platform: AWS EKS v1.20
- Subsystem: dotnet6
- Node: m5.large
- Limit
[code]
- I found the similar issue on https://github.com/asynkron/protoactor-dotnet/issues/1608. However it just said it's RequestAsync's problem not GossipActor's, with no so

[2022-08-20 01:56] seungyongshim commented on #1475
Excuse, me.

The Akka has it.  We will get it?
[code]
* https://doc.akka.io/docs/akka/current/serialization.html#verification

[2022-09-11 17:17] MoienTajik opened #1752 "Unable to update pod labels, registration failed on K8S"
## Expected Behavior
- Deploy successfully on K8S

## Actual Behavior
Application throws this exception on application startup after upgrading all `Proto.Actor` packages including `Proto.Cluster.Kubernetes` from version `0.30.0` to `1.0.0-rc2.36`:
[code]

## Specifications
Proto.Actor Version: 1.0.0-rc2.36
Runtime: .NET 6
K8S server version: {"Major:"1", Minor:"23", GitVersion:"v1.23.7"}

[2022-09-11 18:08] marcinbudny commented on #1752
This does not look like a valid k8s label: `cluster.proto.actor/kind-alibaba.hotel.provider.contracts/AvailableOrchestratorGrain`. According to [spec](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) only single slash is allowed as it separates label prefix from label name.

The problem might have been introduced by [this PR](https://github.com/asynkron/protoactor-dotnet/

[2022-09-12 06:13] MoienTajik commented on #1752
Yes, you're right. It's the package name in our proto contracts.

And here are the generated Cluster Kinds:

[code]

We didn't change cluster kinds while upgrading the Nuget packages, so that could be a code generation issue, as mentioned.

I've tested `v1.0.0-rc2.31` and everything is **fine** with this version.

[2022-09-14 08:44] mhelleborg commented on #1752
This is a dilemma on where we fix the issue. Root cause here is that the namespaced codegen grains use the "name.space/GrainName" format. This does not work with the current implementation of the K8s provider, as the second '/' in the label is not supported.

The simplest fix would be to just change the grain to use "name.space.GrainName". But it also showcases the limitations of the current label

[2022-09-16 10:43] #1094 closed, assigned to marcinbudny

[2022-09-16 10:47] #1523 closed, assigned to marcinbudny

[2022-09-16 10:49] marcinbudny commented on #1433
@rogeralsing @DenizPiri any input on the above questions?

[2022-09-16 10:52] marcinbudny commented on #1079
Closing since #1713 has been merged

[2022-09-16 10:52] #1079 closed, assigned to marcinbudny

[2022-09-16 10:52] marcinbudny commented on #875
Closing since #1713 has been merged

[2022-09-16 10:52] #875 closed, assigned to marcinbudny

[2022-09-17 07:33] DenizPiri commented on #1433
@marcinbudny I agree that the TTL mailbox wouldn't cover all the scenarios. Especially the ones you mentioned.

As for our use cases, we don't have any inter-actor communication. We usually have centric singleton actors we send requests to as a result of the client requests. So, currently, in our case, if the actor stalls for a while on a single message, let's say 10 secs, the client request side

[2022-09-23 18:28] #1475 closed, assigned to marcinbudny

[2022-09-29 12:59] dystopiandev commented on #1739
It's not a `very small possibility` actually. I ran into this issue while migrating events from one database to another.
Happened randomly, so it took a painful while to figure out how it was possible for the order to get mixed up.

[2022-09-30 18:25] #1752 closed, assigned to mhelleborg

[2022-10-02 16:14] rogeralsing commented on #1740
At the moment I do not have any good answer for this.
There is nothing blocking inside the Gossip actor itself.

Could it be that the nodes you are running have very few cores? e.g. 2 cores?

Can you reproduce it even if you explicitly set MinThreads to some highish number, e.g 50 threads or something?
https://learn.microsoft.com/en-us/dotnet/api/system.threading.threadpool.setminthreads?view=net-

[2022-10-08 08:43] rogeralsing opened #1790 "Add protocol version in remote connection handshake"
To avoid problematic upgrades where the protocol has evolved and old members cannot talk to new members.
We could add a protocol version to the connect request.

This could use some form of semantic versioning where we increment the version if we know it is incompatible with previous ones.

[2022-10-09 15:55] #1578 closed, assigned to nobody

[2022-10-12 22:15] michalnarwojsz opened #1799 "Generated grains don't handle DeadLetterResponse"
Proto.Actor Version: 1.0.0-rc3.13
.NET 6

### Summary
When request is sent to generated grain actor through ActorClient, `DeadLetterResponse` may be received. It is not handled well.

#### Expected behavior
In case of `DeadLetterResponse`, `default` (`null`) should be returned or `TimeoutException` thrown depending on legacy timeouts setting value, as well as other `DeadLetterResponse`'s effects s

[2022-10-13 08:29] marcinbudny commented on #1799
Hey Michał, good catch and great analysis of the problem. I would also add that most probably the `DeadLetterResponse` handling code should not `break` out of the loop, but rather `continue` - virtual actors are supposed to always exist, so we expect that next iteration of the loop will just re-spawn the actor.

Would you like to attempt a PR with a fix?

This path in the code is not exactly easy

[2022-10-14 14:50] michalnarwojsz commented on #1799
Hi,

Yes, I'll prepare one soon

[2022-10-15 19:57] rogeralsing opened #1815 "New Diagnostics feature"
From the latest prereleases as of today. there is now a new diagnostics feature to help users debug and find issues in their Proto.Actor deployments.

You can expose the diagnostics through e.g. HTTP like so:

[code]

The output will looks as follows:
https://gist.github.com/rogeralsing/0752679a06c8f4e5b1cefb372ef80d82

This will give you information about cluster topology, cluster heartbeats, cri

[2022-10-17 07:04] #1799 closed, assigned to nobody

[2022-10-22 17:07] #1815 closed, assigned to nobody

[2022-10-23 16:11] originswift-sys commented on #1739
@mjaric did you find a way around this?

[2022-10-23 17:31] mjaric commented on #1739
I created my persistence plugin. But I can create PR. Tho in such case I have to update all plugins in this repository 😅 before it ends in nuget.

[2022-10-23 17:36] mjaric commented on #1739
One more thing. Since, comparing to akka.net, proto.actor actually do not require from you to create system actor that extends this framework in order to add eventsourcing. I think you can create your abstract repository and go that route, one aggregate root, one repository.... I like this because everything becomes much simpler to test where in akka you are tight coupled to test kit and your BDD

[2022-10-27 21:01] jupjohn opened #1840 "Generating grains in project contaning "Cluster" namespace breaks sourcegen"
When generating grains in a project whose root namespace contains `*.Cluster.*` (e.g. `Jammehcow.SomeCoolApplication.Cluster.Contracts.csproj`), source generation generates uncompilable code. Since generated code contains references to the `Cluster` type, the type conflicts with the implementing project's namespace.

Proto.Actor version: `1.0.0-rc4.6`

[2022-10-27 21:05] jupjohn commented on #1840
I've seen this approach in other projects: prefixing your types with `global::Your.Fully.Qualified.Namespace.Class` will fix the conflict.

[code]

If this looks like a decent way to resolve this I'm happy to fix and test myself, then PR it in.

[2022-11-02 17:01] mjaric opened #1844 "[Question] Given proto actor cluster runs in dynamic environment, would query to `ProcessRegistry.Get` slow down due lack of DEREGISTER HostResolver handlers?"
I see that there is [RegsiterHostResolver](https://github.com/asynkron/protoactor-dotnet/blob/3d4168c33a41452aadbe21ffba12bd7487767b80/src/Proto.Actor/Process/ProcessRegistry.cs#L47) in ProcessRegistry, but no Deregister counterpart exists. Would this hurt a bit performance if cluster is run in dynamic environment where hostnames are dynamically generated due scaling dynamics, and cluster is runni

[2022-11-02 18:44] rogeralsing commented on #1844
There is one HostResolver for the remote layer, and it is used for all remote lookups.
Meaning there is no need to deregister anything. it's the same resolver throughout the entire application's life.

Once the lookup is done, this value is cached inside the PID.

[2022-11-02 19:49] mjaric commented on #1844
That is per endpoint, right?
If so, what would happen if endpoint is respawned with different hostname (scale up/down scenario)?

I'm not criticizing, just trying to understand code since I'm trying to make a port in rust language.

[2022-11-02 19:58] rogeralsing commented on #1844
No there is one EndpointManager for the whole actor system, which is what registers the HostResolver.
There can be many Endpoints managed by the EndpointManager, but there is still just one host resolver.

I would love to see the progress of a Rust version. there have been some requests for that  over the years

[2022-11-02 20:05] mjaric commented on #1844
I started recently, it is [here ](https://github.com/mjaric/protoactor-rs). There is not much, just draft modules.

[2022-11-08 14:01] sfmskywalker opened #1845 "Azure App Service Cluster Provider"
First of all. thank you for this wonderful project!

For [Elsa 3](https://github.com/elsa-workflows/elsa-core/tree/v3), we are using Proto.Actor as an option for the workflow runtime which works beautifully.

I am currently looking for a solution that allows us torun the Proto.Actor runtime implementation on Azure App Services and taking advantage of its ability to scale out into multiple nodes/in

[2022-11-09 18:57] marcinbudny commented on #1845
Hi Spike,
The nodes in a cluster need to be individually addressable and you need to be able to establish gRPC connections between them. Is this possible with Azure App Service?

[2022-11-09 19:25] sfmskywalker commented on #1845
Hi Marcin,

Thank you for the info!
Frankly, I do not know if this is the case, but I will find out and come back with an update here.

[2022-11-09 19:28] sfmskywalker commented on #1845
@marcinbudny Question: assuming this is possible (addressable + gRPC supported), what might an implementation look li,e, do you have an idea? Understanding this might help me find the answer to these questions by creating a test application to do some tests from within.

[2022-11-09 19:42] marcinbudny commented on #1845
In essence, what cluster provider does is:
1. It registers current host as cluster node. E.g. with Consul this means adding a service entry to Consul. With K8S it means adding labels on the pod for other pods to detect new cluster node. With App Service - I'm not sure. Maybe you just assume all instances are cluster nodes.
2. It then monitors any changes - nodes entering and leaving cluster. It se

[2022-11-09 21:34] rogeralsing commented on #1845
IIRC. it is not possible to run clusters on AppServices due to various limitations.
e.g. one instance may not communicate with another instance of the same service.
And I believe AppServices also lack any public API to query the active nodes.

Azure Container Apps should be a better choice, and I know that MS Orleans have some demo for this.
We could probably copy-paste most of that.

[2022-11-09 22:43] sfmskywalker commented on #1845
Azure Container apps could be a great alternative to K8 and App Service. Will check the Orleans demo 👍🏻

[2022-11-14 01:43] jupjohn commented on #1845
I attempted to get this working a while back and also ran into the limitation of instance discovery - you're better off going the container route. Also, Azure App Services have only just received preview support for gRPC as of September (see [here](https://azure.microsoft.com/en-in/updates/public-preview-grpc-support-in-azure-app-service/)).

[Hangfire](https://www.hangfire.io/) for example centra

[2022-11-14 01:54] jupjohn commented on #1540
Getting to implementation details here, but I personally feel like another cluster extension like `.IsSomeCoolGrainActivated(string id)` would be super useful. Keen to take a stab at this myself as I have a use case for it.

[2022-11-24 10:58] volkanalkilic commented on #1429
- Increase the API coverage of documentation.
- Provide more sample applications.
- Add [MemoryPack](https://github.com/Cysharp/MemoryPack) support.